Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

azure-pipelines-pr.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      gitFetchDepth: 50
      skipAzureAuth: true
      validationJobs:
      - name: Check Changes
        steps:
        - template: ../steps/check_changed_files.yml
  ...

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

fix: auth error handling
  packages/auth-server/__tests__/tests.spec.js
  packages/auth-server/src/grants/custom-grant-errors.js
  packages/auth-server/src/grants/otp-grant-handler.js
  packages/auth-server/src/grants/ropc-grant-handler.js
  packages/forms-web-app/__tests__/unit/lib/is-token-valid.test.js
  packages/forms-web-app/__tests__/unit/validators/common/enter-code.test.js
  packages/forms-web-app/src/lib/is-token-valid.js
  packages/forms-web-app/src/validators/common/enter-code.js
Due: azure-pipelines-pr.yml

fix(a2-3462): correct appeal name on dashboards
  packages/forms-web-app/src/lib/dashboard-functions.js
  packages/forms-web-app/src/lib/dashboard-functions.test.js
Due: azure-pipelines-pr.yml

chore: remove MINOR_COMMERCIAL_ADVERTISEMENT references
  packages/business-rules/src/constants.js
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/can-use-service.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/submit-appeal/email-address-confirmed.test.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/controller.test.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-adverts-appeal-form-journey.md
  packages/forms-web-app/src/lib/get-next-page-from-can-use-service-page.js
Due: azure-pipelines-pr.yml

feat: adding description of advertisement to the advert appeal form
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(infrastructure): adding staging environment for appeals service
  azure-pipelines-db-seed.yml
  azure-pipelines-deploy.yml
  azure-pipelines-e2e-appeals.yml
  infrastructure/environments/staging.tfvars
  infrastructure/pipelines/terraform-cd.yaml
Due: azure-pipelines-pr.yml

feat(infrastructure): adding staging environment for appeals service
  infrastructure/pipelines/terraform-cd.yaml
Due: none

feat: a2-3746_cas_planning_questionnaire_dashboard WIP
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/appeal-process-details.test.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/consultation-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/environmental-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/planning-officer-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/site-access-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/test-factory.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/test-factory.test.js
Due: azure-pipelines-pr.yml

test(dynamic-forms): bump test coverage
  packages/dynamic-forms/src/create-questions.test.js
  packages/dynamic-forms/src/dynamic-components/number-entry/question.test.js
  packages/dynamic-forms/src/dynamic-components/single-line-input/question.test.js
  packages/dynamic-forms/src/dynamic-components/site-address/question.test.js
  packages/dynamic-forms/src/journeys.test.js
Due: azure-pipelines-pr.yml

feat(web): increasing char limit for final comments
  packages/forms-web-app/src/dynamic-forms/questions.js
Due: azure-pipelines-pr.yml

fix: remove wycombe
  packages/appeals-service-api/data/lpa-list.csv
Due: azure-pipelines-pr.yml

feat(a2-4235): amend content on eia development category question
  packages/common/src/lib/format-questionnaire-details.js
  packages/forms-web-app/src/dynamic-forms/docs/s20-lpaq-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/s78-lpaq-journey.md
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix: a2-4188 cas planning integration appealType
  packages/appeals-service-api/src/routes/v2/appeal-cases/service.js
Due: azure-pipelines-pr.yml

feat: cas advert and advert bys logic (A2-3652)
  packages/appeals-service-api/src/services/appeal.service.js
  packages/business-rules/src/constants.js
  packages/business-rules/src/schemas/validate.js
  packages/common/src/dynamic-forms/journey-types.js
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/can-use-service.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/granted-or-refused.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/submit-appeal/email-address-confirmed.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/type-of-planning-application.test.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/controllers/full-appeal/granted-or-refused.js
  packages/forms-web-app/src/controllers/full-appeal/type-of-planning-application.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
  packages/forms-web-app/src/lib/get-next-page-from-can-use-service-page.js
  packages/forms-web-app/src/lib/get-next-page-from-can-use-service-page.test.js
  packages/forms-web-app/src/lib/type-of-planning-application-radio-items.js
  packages/forms-web-app/src/lib/type-of-planning-application-radio-items.test.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore(deps): bump azurite version
  docker-compose.yml
  packages/document-service-api/test/developer/testcontainer-helpers/azurite-container-helper.js
Due: azure-pipelines-pr.yml

feat(web): cas advert appeal form correcting navigation and adding placeholder comments (A2-3653)
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

fix: disable waf rule blocking legitimate IP comment
  infrastructure/front-door.tf
Due: none

feat(a2-4205): changes to mapping of case relations on put appealCase
  packages/appeals-service-api/src/routes/v2/appeal-cases/repo.js
Due: azure-pipelines-pr.yml

feat(A2-4205): update putAppealCase test to capture linked appeals edge cases
  packages/appeals-service-api/src/routes/v2/appeal-cases/appeal-cases.spec.js
Due: azure-pipelines-pr.yml

feat: adding the upload change of advertisementevidence question(A2-3897)
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(infrastructure): adding staging environment for appeals service
  azure-pipelines-db-seed.yml
Due: azure-pipelines-pr.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
