Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

azure-pipelines-pr.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      gitFetchDepth: 50
      skipAzureAuth: true
      validationJobs:
      - name: Check Changes
        steps:
        - template: ../steps/check_changed_files.yml
  ...

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

feat(A2-7912): amend enforcement can use service summary screen
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/can-use-service.test.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/views/before-you-start/enforcement-can-use-service.njk
Due: azure-pipelines-pr.yml

fix: add occupancyConditionsMet to ELB data model mapping
  packages/appeals-service-api/src/routes/v2/appeal-cases/service.js
Due: azure-pipelines-pr.yml

feat(forms): added two questions to cas adverts (A2-8426)
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/submit/index.spec.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-adverts/appeal.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(A2-8425): remove appellant statement from cas adverts
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/planning-application-about.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/application-date.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/granted-or-refused.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/type-of-planning-application.test.js
  packages/forms-web-app/src/controllers/before-you-start/planning-application-about.js
  packages/forms-web-app/src/controllers/full-appeal/application-date.js
  packages/forms-web-app/src/controllers/full-appeal/granted-or-refused.js
  packages/forms-web-app/src/controllers/full-appeal/type-of-planning-application.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-appeal-form-journey.md
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(A2-8385): update data model verson
  package-lock.json
  package.json
Due: azure-pipelines-pr.yml

fix(forms): amended logic for cas and has additional questions (A2-8436)
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/has-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.test.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

fix(dev-727): accepted cipher suite added to front door now required
  infrastructure/front-door.tf
Due: none

fix: back links on comment-planning-appeal pages (A2-7989)
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/enter-appeal-reference/controller.js
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/enter-appeal-reference/controller.test.js
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/enter-postcode/controller.js
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/enter-postcode/controller.test.js
  packages/forms-web-app/src/views/layouts/comment-planning-appeal/main.njk
Due: azure-pipelines-pr.yml

feat(a2-7145, a2-7265): display costs docs on appeal details pages
  packages/appeals-service-api/__tests__/developer/fixtures/appeals-document-data.js
  packages/appeals-service-api/__tests__/developer/fixtures/representation-data.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/costs/controller.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/costs/costs.spec.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/costs/index.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/costs/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/costs/service.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/representations/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/representations/representations.spec.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/repo.js
  packages/common/src/client/appeals-api-client.js
  packages/common/src/client/appeals-api-client.test.js
  packages/common/src/document-types.js
  packages/database/src/migrations/20260601180649_update_document_indexes_for_costs/migration.sql
  packages/database/src/schema.prisma
  packages/forms-web-app/src/controllers/selected-appeal/appellant-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/costs/costs-controller.test.js
  packages/forms-web-app/src/controllers/selected-appeal/costs/index.js
  packages/forms-web-app/src/controllers/selected-appeal/index.js
  packages/forms-web-app/src/controllers/selected-appeal/index.test.js
  packages/forms-web-app/src/controllers/selected-appeal/lpa-user-sections.js
  packages/forms-web-app/src/lib/representation-functions.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/appeals/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/routes/lpa-dashboard/selected-appeal.js
  packages/forms-web-app/src/views/selected-appeal/costs.njk
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

test(appeals): updating readme (A2-7733)
  test-packages/platform-feature-tests/README.md
Due: azure-pipelines-pr.yml

test(appeals): updating e2e tests with multi environment config (A2-1234)
  test-packages/platform-feature-tests/README.md
  test-packages/platform-feature-tests/cypress.config.dev.env.js
  test-packages/platform-feature-tests/cypress.config.local.env.js
  test-packages/platform-feature-tests/cypress.config.staging.env.js
  test-packages/platform-feature-tests/cypress.config.test.env.js
  test-packages/platform-feature-tests/package.json
Due: azure-pipelines-pr.yml

feat(a2-8440): display application date answer on bys check answers page
  packages/forms-web-app/__tests__/mockData/full-appeal.js
  packages/forms-web-app/__tests__/mockData/householder-appeal.js
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/can-use-service.test.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/lib/get-appeal-props-for-can-use-service-page.js
  packages/forms-web-app/src/views/full-appeal/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/can-use-service.njk
Due: azure-pipelines-pr.yml

feat(a2-7145, a2-7265): add zip download to costs pages
  packages/common/src/client/documents-api-client.js
  packages/common/src/client/documents-api-client.test.js
  packages/document-service-api/src/db/repos/repository.js
  packages/document-service-api/src/db/repos/repository.test.js
  packages/document-service-api/src/routes/v2/back-office/_caseReference/case_stage/_caseStage/controller.test.js
  packages/document-service-api/src/routes/v2/back-office/_caseReference/document-type/controller.js
  packages/document-service-api/src/routes/v2/back-office/_caseReference/document-type/controller.test.js
  packages/document-service-api/src/routes/v2/back-office/_caseReference/document-type/index.js
  packages/document-service-api/src/routes/v2/submission/_caseReference/case_stage/_caseStage/controller.js
  packages/forms-web-app/src/controllers/selected-appeal/costs/costs-controller.test.js
  packages/forms-web-app/src/controllers/selected-appeal/costs/index.js
  packages/forms-web-app/src/controllers/selected-appeal/downloads/documents.js
  packages/forms-web-app/src/lib/build-zip-filename.js
  packages/forms-web-app/src/lib/build-zip-filename.test.js
  packages/forms-web-app/src/routes/appeals/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/routes/lpa-dashboard/selected-appeal.js
  packages/forms-web-app/src/views/selected-appeal/costs.njk
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix(A2-8037): add writtenOrVerbalPermission to ELB appellant submission
  packages/appeals-service-api/src/services/back-office-v2/formatters/utils.js
Due: azure-pipelines-pr.yml

feat(A2-7896): new bys routes and add enforcement options to application type page
  packages/business-rules/src/constants.js
  packages/forms-web-app/__tests__/unit/controllers/appeal/new-or-saved-appeal.test.js
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/enforcement-notice-listed-building.test.js
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/enforcement-notice.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/local-planning-authority.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/type-of-planning-application.test.js
  packages/forms-web-app/__tests__/unit/middleware/navigation-history.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/controllers/before-you-start/enforcement-notice-listed-building.js
  packages/forms-web-app/src/controllers/before-you-start/enforcement-notice.js
  packages/forms-web-app/src/controllers/full-appeal/local-planning-authority.js
  packages/forms-web-app/src/controllers/full-appeal/type-of-planning-application.js
  packages/forms-web-app/src/lib/full-appeal/map-planning-application.js
  packages/forms-web-app/src/lib/type-of-planning-application-radio-items.js
  packages/forms-web-app/src/lib/type-of-planning-application-radio-items.test.js
  packages/forms-web-app/src/views/full-appeal/type-of-planning-application.njk
Due: azure-pipelines-pr.yml

fix(forms): fixed missing fields in appeal details page (no-ticket)
  packages/appeals-service-api/src/routes/v2/appeal-cases/appeal-cases.spec.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/service.js
  packages/common/src/lib/format-questionnaire-details.js
  packages/database/src/migrations/20260605142247_add_any_significant_changes_lpa_to_appeal/migration.sql
  packages/database/src/schema.prisma
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/appeal-process-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/appeal-process-details.test.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/index.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/original-evidence-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/original-evidence-details-rows.test.js
  packages/forms-web-app/src/views/selected-appeal/questionnaire-details.njk
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(A2-8041): update submission pdf bys section
  packages/forms-web-app/src/dynamic-forms/dynamic-components/utils/submission-information-utils.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/utils/submission-information-utils.test.js
Due: azure-pipelines-pr.yml

feat(A2-8049): update bys summary rows
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/can-use-service.test.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-before-you-start-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-before-you-start-rows.test.js
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/index.js
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/index.test.js
  packages/forms-web-app/src/views/full-appeal/can-use-service.njk
  packages/forms-web-app/src/views/full-appeal/prior-approval/can-use-service.njk
  packages/forms-web-app/src/views/full-appeal/removal-or-variation-of-conditions/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/prior-approval/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/removal-or-variation-of-conditions/can-use-service.njk
Due: azure-pipelines-pr.yml

test: ldc appellant statement included in end to end flow
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/appellant-statement.cy.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-advert-appeal/submit-advert-appeal-granted.cy.js
  test-packages/platform-feature-tests/cypress/fixtures/prepareAppealData.json
  test-packages/platform-feature-tests/cypress/support/flows/sections/appealsE2EIntegration.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/appeal.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseAdvertPlanning.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseApplicationTypeAppeal.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseCasPlanning.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseFullPlanning.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseHouseHolderPlanning.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseLDCPlanning.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseListedBuilding.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/statement.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/lpaManageAppeals/statement.js
Due: azure-pipelines-pr.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
