Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

azure-pipelines-pr.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      gitFetchDepth: 50
      skipAzureAuth: true
      validationJobs:
      - name: Check Changes
        steps:
        - template: ../steps/check_changed_files.yml
  ...

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

feat: bump data model to 1.10.3
  package-lock.json
  package.json
Due: azure-pipelines-pr.yml

chore: example to run single integration test
  packages/appeals-service-api/src/routes/v2/index.test.js
Due: azure-pipelines-pr.yml

feat: adding in dependabot terraform weekly updates
  .github/dependabot.yml
Due: azure-pipelines-pr.yml

feat(a2-3474): test and handle s20 submission mappings correctly
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/submit/controller.js
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/submit/index.spec.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/s20/appeal.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/s20/appeal.test.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/utils.js
  packages/appeals-service-api/src/services/back-office-v2/index.test.js
Due: azure-pipelines-pr.yml

feat(s20-integration): handle s20 integration
  packages/appeals-service-api/__tests__/developer/fixtures/appeals-S20-data-model.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/appeal-cases.spec.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/service.js
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/appeals-service-api/src/spec/appeal-case.yaml
  packages/database/src/migrations/20250625115102_add_20_fields_to_appeal_case/migration.sql
  packages/database/src/schema.prisma
Due: azure-pipelines-pr.yml

feat(a2-3474): test appellant final comment submission
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/appellant-final-comment-submission/submit/index.spec.js
Due: azure-pipelines-pr.yml

feat(a2-3474): test appellant proofs submission
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/appellant-proof-evidence-submission/submit/index.spec.js
Due: azure-pipelines-pr.yml

docs: add more info to readme about switching the signing algorithm for jwts
  packages/auth-server/README.md
Due: azure-pipelines-pr.yml

feat: jose@6 breaking changes
  packages/auth-server/dev/gen-keys.js
  packages/common/src/middleware/validate-token.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat: remove jest-mock-extended dependency
  package-lock.json
  package.json
  packages/appeals-service-api/__tests__/unit/repositories/sql/appeal-user-repository.test.js
  packages/appeals-service-api/__tests__/unit/repositories/sql/service-user-repository.test.js
  packages/appeals-service-api/package.json
Due: azure-pipelines-pr.yml

feat: use jest global cleanup
  jest.config.js
  packages/auth-server/jest.config.js
Due: azure-pipelines-pr.yml

fix: vary waf ruleset by environment
  infrastructure/environments/dev.tfvars
  infrastructure/environments/prod.tfvars
  infrastructure/environments/test.tfvars
  infrastructure/environments/training.tfvars
  infrastructure/front-door.tf
Due: none

fix: simplify waf exclusion rules
  infrastructure/front-door.tf
Due: none

fix: remove file upload exclusion rule
  infrastructure/front-door.tf
Due: none

fix: include waf ruleset vars
  infrastructure/variables.tf
Due: none

fix: ignore file uploads in WAF
  infrastructure/front-door.tf
  packages/forms-web-app/src/journeys/question-overrides/multi-file-upload.js
  packages/forms-web-app/src/views/layouts/multi-file-upload.njk
Due: azure-pipelines-pr.yml

fix: waf exclusions
  infrastructure/front-door.tf
Due: none

feat(a2-3732): add s20 rows to dashboards
  packages/common/src/document-types.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.test.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix: disable multipart rules
  infrastructure/front-door.tf
Due: none

chore: run format-check on PR
  azure-pipelines-pr.yml
  package.json
Due: azure-pipelines-pr.yml

feat: rename main.css to main.min.css
  packages/forms-web-app/__tests__/unit/controllers/appellant-submission/submission-information.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/submit-appeal/declaration-information.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/controllers/appellant-submission/submission-information.js
  packages/forms-web-app/src/controllers/full-appeal/submit-appeal/declaration-information.js
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/lib/add-css-to-html.js
  packages/forms-web-app/src/lib/add-css-to-html.test.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/public/stylesheets/main.min.css
  packages/forms-web-app/src/views/includes/head.njk
Due: azure-pipelines-pr.yml

chore: prettier to ignore min + bundle + map files
  .prettierignore
Due: azure-pipelines-pr.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
