Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

azure-pipelines-pr.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      gitFetchDepth: 50
      skipAzureAuth: true
      validationJobs:
      - name: Check Changes
        steps:
        - template: ../steps/check_changed_files.yml
  ...

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

feat(A2-6748): update lpaq submitted notify to handle enforcement appeals
  README.md
  docs/notifications-and-triggers.md
  packages/appeals-service-api/src/lib/notify.js
  packages/common/src/lib/notify/notify-service.test.js
  packages/common/src/lib/notify/templates/lpaq/v2-lpaq-submitted.md
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(A2-7290): update FO notifies to handle enforcement appeal types
  packages/appeals-service-api/__tests__/developer/fixtures/appeals-case-data.js
  packages/appeals-service-api/src/lib/notify.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/appellant-final-comment-submission/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/appellant-proof-evidence-submission/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/appellant-statement-submission/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/lpa-final-comment-submission/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/lpa-proof-evidence-submission/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/lpa-statement-submission/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/rule-6-proof-evidence-submission/repo.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/rule-6-statement-submission/repo.js
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/appeals-service-api/src/spec/appellant-final-comment-submission.yaml
  packages/appeals-service-api/src/spec/appellant-proof-of-evidence-submission.yaml
  packages/appeals-service-api/src/spec/appellant-statement-submission.yaml
  packages/appeals-service-api/src/spec/lpa-final-comment-submission.yaml
  packages/appeals-service-api/src/spec/lpa-proof-of-evidence-submission.yaml
  packages/appeals-service-api/src/spec/lpa-statement-submission.yaml
  packages/appeals-service-api/src/spec/rule-6-proof-of-evidence-submission.yaml
  packages/appeals-service-api/src/spec/rule-6-statement-submission.yaml
  packages/common/src/lib/notify/notify-service.test.js
  packages/common/src/lib/notify/templates/appeal-submission/v2-lpa-notification.md
  packages/common/src/lib/notify/templates/representations/v2-appellant-final-comments.md
  packages/common/src/lib/notify/templates/representations/v2-appellant-statement.md
  packages/common/src/lib/notify/templates/representations/v2-lpa-final-comments.md
  packages/common/src/lib/notify/templates/representations/v2-lpa-proofs-evidence.md
  packages/common/src/lib/notify/templates/representations/v2-lpa-statement.md
  packages/common/src/lib/notify/templates/representations/v2-proof-of-evidence-submitted.md
  packages/common/src/lib/notify/templates/representations/v2-r6-proofs-evidence.md
  packages/common/src/lib/notify/templates/representations/v2-rule6-statement-submission.md
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat: try image size
  azure-pipelines-build.yml
Due: azure-pipelines-pr.yml

fix(appeals): copy changes to lpaq questions (A2-702 5)
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/dynamic-forms/src/question-props.d.ts
  packages/forms-web-app/src/dynamic-forms/docs/enforcement-listed-lpaq-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/enforcement-lpaq-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/ldc-lpaq-journey.md
  packages/forms-web-app/src/dynamic-forms/enforcement-listed-questionnaire/journey.test.js
  packages/forms-web-app/src/dynamic-forms/enforcement-questionnaire/journey.test.js
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
  packages/forms-web-app/src/journeys/index.test.js
Due: azure-pipelines-pr.yml

feat(web): add before you start content for expedited appeals
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/controller.test.js
  packages/forms-web-app/src/lib/documents-for-submission.js
  packages/forms-web-app/src/lib/documents-for-submission.test.js
Due: azure-pipelines-pr.yml

feat(A2-7393): prevent submission of statement on child linked appeals
  packages/business-rules/src/rules/appeal-case/case-due-dates.js
  packages/business-rules/src/rules/appeal-case/case-due-dates.test.js
Due: azure-pipelines-pr.yml

fix(web): updated accessibility statement and header (A2-4025)
  packages/forms-web-app/src/controllers/accessibility-statement/accessibility-statement.js
  packages/forms-web-app/src/views/accessibility-statement/accessibility-statement.njk
Due: azure-pipelines-pr.yml

fix(notify): fix statement notify content
  packages/appeals-service-api/src/lib/notify.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/appellant-statement-submission/submit/index.spec.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/lpa-statement-submission/submit/index.spec.js
  packages/appeals-service-api/src/services/back-office-v2/index.js
  packages/business-rules/src/rules/appeal-case/case-due-dates.js
  packages/common/src/constants.js
  packages/common/src/database/data-static.js
  packages/common/src/lib/notify/notify-service.test.js
  packages/common/src/lib/notify/templates/appeal-submission/v1-follow-up-email.md
  packages/common/src/lib/notify/templates/appeal-submission/v1-lpa-notification.md
  packages/common/src/lib/notify/templates/appeal-submission/v1-save-and-return-continue-appeal.md
  packages/common/src/lib/notify/templates/appeal-submission/v1-submission-email.md
  packages/common/src/lib/notify/templates/appeal-submission/v2-follow-up-email.md
  packages/common/src/lib/notify/templates/appeal-submission/v2-registration-confirmation.md
  packages/common/src/lib/notify/templates/appeal-submission/v2-submission-email.md
  packages/common/src/lib/notify/templates/lpaq/v2-lpa-dashboard-invite-email.md
  packages/common/src/lib/notify/templates/lpaq/v2-lpaq-submitted.md
  packages/common/src/lib/notify/templates/representations/v2-appellant-final-comments.md
  packages/common/src/lib/notify/templates/representations/v2-appellant-statement.md
  packages/common/src/lib/notify/templates/representations/v2-ip-comment-submitted.md
  packages/common/src/lib/notify/templates/representations/v2-lpa-final-comments.md
  packages/common/src/lib/notify/templates/representations/v2-lpa-proofs-evidence.md
  packages/common/src/lib/notify/templates/representations/v2-lpa-statement.md
  packages/common/src/lib/notify/templates/representations/v2-proof-of-evidence-submitted.md
  packages/common/src/lib/notify/templates/representations/v2-r6-proofs-evidence.md
  packages/common/src/lib/notify/templates/representations/v2-rule6-statement-submission.md
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(a2-7444): update nots lpa email
  packages/appeals-service-api/data/lpa-list.csv
Due: azure-pipelines-pr.yml

fix(A2-7045): mark enforcement child linked appeals as closed for ip comment submission
  packages/business-rules/src/rules/appeal-case/case-due-dates.js
  packages/common/src/lib/linked-appeals.js
  packages/forms-web-app/src/utils/appeal-status.js
  packages/forms-web-app/src/utils/appeal-status.test.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore(tooling): update common-pipeline-templates to 3.25.2
  azure-pipelines-build.yml
  azure-pipelines-pr.yml
  infrastructure/pipelines/terraform-ci-commit.yaml
  infrastructure/pipelines/terraform-ci.yaml
Due: azure-pipelines-pr.yml

chore(tooling): update wrapper ci file to 3.25.2
  azure-pipelines-build.yml
  azure-pipelines-pr.yml
  infrastructure/pipelines/terraform-cd.yaml
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: azure-pipelines-pr.yml

chore(tooling): update wrapper ci file 3.25.2
  infrastructure/pipelines/terraform-cd.yaml
Due: none

feat(ad-36): add deadline check to can use service
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/can-use-service.test.js
  packages/forms-web-app/__tests__/unit/middleware/check-decision-date-deadline.test.js
  packages/forms-web-app/src/controllers/before-you-start/application-lookup.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/middleware/check-decision-date-deadline.js
Due: azure-pipelines-pr.yml

feat(ad-45): add loading spinner for application-lookup
  packages/forms-web-app/src/controllers/before-you-start/application-lookup.js
  packages/forms-web-app/src/public/stylesheets/main.min.css
  packages/forms-web-app/src/sass/loading-spinner.scss
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/views/before-you-start/application-lookup.njk
Due: azure-pipelines-pr.yml

feat(ad-37): allow changes for application number
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/lib/get-appeal-props-for-can-use-service-page.js
  packages/forms-web-app/src/views/full-appeal/can-use-service.njk
  packages/forms-web-app/src/views/full-appeal/prior-approval/can-use-service.njk
  packages/forms-web-app/src/views/full-appeal/removal-or-variation-of-conditions/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/prior-approval/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/removal-or-variation-of-conditions/can-use-service.njk
Due: azure-pipelines-pr.yml

feat(ad-42): add application not found confirmation
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/application-lookup.test.js
  packages/forms-web-app/__tests__/unit/routes/before-you-start/application-lookup.test.js
  packages/forms-web-app/src/controllers/before-you-start/application-lookup.js
  packages/forms-web-app/src/controllers/before-you-start/application-not-found.js
  packages/forms-web-app/src/controllers/before-you-start/application-not-found.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/before-you-start/application-lookup.js
  packages/forms-web-app/src/validators/before-you-start/application-lookup.test.js
  packages/forms-web-app/src/validators/before-you-start/application-not-found.js
  packages/forms-web-app/src/validators/before-you-start/application-not-found.test.js
  packages/forms-web-app/src/views/before-you-start/application-not-found.njk
Due: azure-pipelines-pr.yml

feat: add BOPS readme
  docs/bops-application-lookup.md
Due: azure-pipelines-pr.yml

feat(appeals): expedited Appeals - appellant Form new question
  packages/forms-web-app/src/dynamic-forms/docs/has-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.test.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(appeals): expedited Appeals - appellant Form new question
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/appeals-service-api/src/spec/appellant-submission.yaml
  packages/common/src/dynamic-forms/field-values.js
  packages/database/src/migrations/20260310124000_add_any_significant_changes_to_appellant_submission/migration.sql
  packages/database/src/schema.prisma
  packages/dynamic-forms/src/dynamic-components/checkbox/index.njk
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/has-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
  packages/forms-web-app/src/public/resources/appeal-process/any-significant-changes/content.html
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(appeals): expedited Appeals - appellant Form new question
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-appeal-form-journey.md
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

chore(tooling): update wrapper ci file to 3.25.2
  azure-pipelines-build.yml
  azure-pipelines-pr.yml
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: azure-pipelines-pr.yml

feat(web): add new page why are you appealing
  packages/dynamic-forms/src/validator/word-validator.js
  packages/dynamic-forms/src/validator/word-validator.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/dynamic-forms/submission-form-template.njk
  packages/forms-web-app/src/public/resources/why-are-you-appealing/content.html
Due: azure-pipelines-pr.yml

feat(api): add new field whyAreYouAppealing
  packages/database/src/migrations/20260312154153_add_why_are_you_appealing_field/migration.sql
  packages/database/src/schema.prisma
Due: azure-pipelines-pr.yml

feat(api): add whyAreYouAppealing to spec files
  packages/appeals-service-api/src/spec/appeal-case.yaml
  packages/appeals-service-api/src/spec/appellant-submission.yaml
Due: azure-pipelines-pr.yml

chore(api): remove whyAreYouAppealing field from appeal case
  packages/appeals-service-api/src/spec/appeal-case.yaml
  packages/database/src/migrations/20260313120125_add_why_are_you_appealing_field/migration.sql
  packages/database/src/schema.prisma
Due: azure-pipelines-pr.yml

fix(web): fix lint checks
  packages/forms-web-app/src/public/resources/why-are-you-appealing/content.html
Due: azure-pipelines-pr.yml

fix(web): word validator max error message
  packages/database/src/schema.prisma
  packages/dynamic-forms/src/validator/word-validator.js
  packages/dynamic-forms/src/validator/word-validator.test.js
Due: azure-pipelines-pr.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
