Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

azure-pipelines-pr.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      gitFetchDepth: 50
      skipAzureAuth: true
      validationJobs:
      - name: Check Changes
        steps:
        - template: ../steps/check_changed_files.yml
  ...

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

feat: update cas case letters to be unique
  packages/common/src/database/data-static.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(appeals-service-api): cas planning lpaq integrations a2-3461
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/lpa-questionnaire-submission/submit/controller.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/service.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/questionnaire.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/questionnaire.test.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/utils.js
Due: azure-pipelines-pr.yml

Revert "feat(appeals-service-api): cas planning lpaq integrations a2-3461"
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/lpa-questionnaire-submission/submit/controller.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/service.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/questionnaire.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/questionnaire.test.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/utils.js
Due: azure-pipelines-pr.yml

Revert "feat(forms-web-app): cas planning lpaq"
  packages/forms-web-app/src/dynamic-forms/cas-planning-questionnaire/journey.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-lpaq-journey.md
  packages/forms-web-app/src/journeys/index.js
Due: azure-pipelines-pr.yml

feat(forms-web-app): cas planning lpaq a2-3426
  packages/forms-web-app/src/dynamic-forms/cas-planning-questionnaire/journey.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-lpaq-journey.md
  packages/forms-web-app/src/journeys/index.js
Due: azure-pipelines-pr.yml

fix(forms-web-app): amend error copy for preserve grant loan question a2-3426
  packages/forms-web-app/src/dynamic-forms/questions.js
Due: azure-pipelines-pr.yml

feat: setup dynamic-forms package
  azure-pipelines-build.yml
  azure-pipelines-pr.yml
  docker-compose.yml
  docs/best-practice.md
  package-lock.json
  package.json
  packages/appeals-service-api/Dockerfile
  packages/appeals-service-api/package.json
  packages/common/package.json
  packages/dynamic-forms/jest.config.js
  packages/dynamic-forms/jsconfig.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/readme.md
  packages/dynamic-forms/src/index.js
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix(infrastructure): link custom domain to azure dns zone in prod
  infrastructure/data.tf
  infrastructure/front-door.tf
Due: none

feat(forms-web-app): cas planning appeal form wip
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/s20-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/s78-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/util.js
Due: azure-pipelines-pr.yml

feat(forms-web-app): updates to appeal decision section on dashboards
  packages/common/src/frontend/pins/components/appeal-decision-block.njk
  packages/forms-web-app/src/controllers/selected-appeal/index.js
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/appeals/_appealNumber/index.njk
  packages/forms-web-app/src/views/selected-appeal/appeal.njk
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

refactor(forms-web-app): rename util and re import
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/display-questions.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/has-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/s20-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/s78-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/s20-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/s78-appeal-form/journey.js
Due: azure-pipelines-pr.yml

feat(forms-web-app): cas planning appeal form a2-3245
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/display-questions.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/has-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/s20-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/s78-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/s20-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/s78-appeal-form/journey.js
Due: azure-pipelines-pr.yml

feat: add e2e test pipeline
  .gitignore
  azure-pipelines-e2e-appeals.yml
  test-packages/platform-feature-tests/.env.example
  test-packages/platform-feature-tests/cypress.config.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-full-appeal/submit-full-appeal-granted.cy.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-householder-appeal/submit-householder-appeal-nodecision.cy.js
  test-packages/platform-feature-tests/cypress/e2e/ip-comments/ip-comments-validations.cy.js
  test-packages/platform-feature-tests/cypress/e2e/onboarded-lpa-check.cy.js
  test-packages/platform-feature-tests/cypress/support/commands.js
  test-packages/platform-feature-tests/cypress/support/e2e.js
  test-packages/platform-feature-tests/cypress/support/tag.js
  test-packages/platform-feature-tests/install-chromium.sh
  test-packages/platform-feature-tests/jsconfig.json
  test-packages/platform-feature-tests/package-lock.json
  test-packages/platform-feature-tests/package.json
  test-packages/platform-feature-tests/run-smoke-tests.sh
  test-packages/platform-feature-tests/run-tests.sh
Due: azure-pipelines-pr.yml

fix: structurizer tag
  structurizr/workspace.dsl
Due: azure-pipelines-pr.yml

fix: temp
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.test.js
  packages/forms-web-app/src/dynamic-forms/question-props.d.ts
  packages/forms-web-app/src/journeys/question-overrides/multi-file-upload.test.js
Due: azure-pipelines-pr.yml

feat(appeals-service-api): cas planning appeal form integration a2-3460
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/submit/controller.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/appeal.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/appeal.test.js
Due: azure-pipelines-pr.yml

feat: increase test coverage for dynamic forms
  package-lock.json
  package.json
  packages/common/src/client/documents-api-client.js
  packages/forms-web-app/__tests__/html-parser.js
  packages/forms-web-app/__tests__/setupTests.js
  packages/forms-web-app/__tests__/unit/controllers/lpa-dashboard/service-invite.test.js
  packages/forms-web-app/__tests__/unit/lib/appeals-api-wrapper.test.js
  packages/forms-web-app/__tests__/unit/lib/documents-api-wrapper.test.js
  packages/forms-web-app/__tests__/unit/services/pdf.service.test.js
  packages/forms-web-app/jsconfig.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.test.js
  packages/forms-web-app/src/dynamic-forms/question-props.d.ts
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
  packages/forms-web-app/src/journeys/fixtures/test.pdf
  packages/forms-web-app/src/journeys/index.js
  packages/forms-web-app/src/journeys/index.test.js
  packages/forms-web-app/src/journeys/question-overrides/multi-file-upload.test.js
  packages/forms-web-app/src/lib/documents-api-wrapper.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore: bump prisma client alongside prisma
  package-lock.json
  package.json
Due: azure-pipelines-pr.yml

feat: display cost decision docs
  packages/common/src/document-types.js
  packages/common/src/frontend/pins/components/appeal-decision-block.njk
  packages/common/src/view-model-maps/sections/def.d.ts
  packages/forms-web-app/src/controllers/selected-appeal/index.js
  packages/forms-web-app/src/controllers/selected-appeal/index.test.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

test: improve sql wait strategy for tests
  packages/appeals-service-api/__tests__/developer/external-dependencies/database/test-database.js
Due: azure-pipelines-pr.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
