Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

azure-pipelines-pr.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      gitFetchDepth: 50
      skipAzureAuth: true
      validationJobs:
      - name: Check Changes
        steps:
        - template: ../steps/check_changed_files.yml
  ...

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

fix: define max batch size for service bus
  packages/integration-functions/host.json
Due: azure-pipelines-pr.yml

fix(A2-6825): create Appeals for named individuals on enforcement submission
  packages/appeals-service-api/src/routes/v2/appeal-cases/appeal-cases.spec.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/repo.js
  packages/appeals-service-api/src/routes/v2/appeals/repo.js
  packages/appeals-service-api/src/routes/v2/appeals/service.js
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/submit/controller.js
  packages/appeals-service-api/src/services/back-office-v2/index.js
  packages/appeals-service-api/src/services/back-office-v2/index.test.js
  packages/appeals-service-api/src/services/back-office-v2/utils.js
  packages/appeals-service-api/src/services/back-office-v2/utils.test.js
  packages/database/src/migrations/20260227091926_add_lead_submission_id_index_to_appeal/migration.sql
  packages/database/src/schema.prisma
  packages/integration-functions/host.json
Due: azure-pipelines-pr.yml

fix(web): copy change for add new conditions lpaq question (A2-7032)
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/appeal-process-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/appeal-process-details.test.js
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(A2-7176): update references on appellantSubmission notifies
  packages/appeals-service-api/src/lib/notify.js
  packages/common/src/lib/notify/notify-service.js
  packages/common/src/lib/notify/notify-service.test.js
  packages/common/src/lib/notify/templates/appeal-submission/v2-follow-up-email.md
  packages/common/src/lib/notify/templates/appeal-submission/v2-submission-email.md
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

update pipeline resource
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: none

fix(A2-7300): add appellant statement entry points and fix bugs
  packages/business-rules/src/rules/appeal-case/case-due-dates.js
  packages/business-rules/src/rules/appeal-case/case-due-dates.test.js
  packages/common/src/constants.js
  packages/forms-web-app/src/controllers/selected-appeal/appellant-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/index.js
  packages/forms-web-app/src/dynamic-forms/appellant-statement-template.njk
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/submission-screen/appellant-appeal-statement.njk
  packages/forms-web-app/src/dynamic-forms/s78-apellant-statement/journey.js
  packages/forms-web-app/src/dynamic-forms/s78-apellant-statement/journey.test.js
  packages/forms-web-app/src/lib/dashboard-functions.js
  packages/forms-web-app/src/lib/dashboard-functions.test.js
  packages/forms-web-app/src/views/selected-appeal/appeal.njk
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(terraform): upgrade ref tag from 3.24.2 to 3.25.2 for improved compatibility
  infrastructure/pipelines/terraform-cd.yaml
  infrastructure/pipelines/terraform-ci.yaml
Due: none

feat: upgrade resource reference tag from 3.24.2 to 3.25.2
  infrastructure/pipelines/terraform-cd.yaml
Due: none

fix(A2-7300): add functionality to view appellant stataement after submission/sharing
  packages/forms-web-app/src/controllers/selected-appeal/lpa-user-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/representations/representations-controller.test.js
  packages/forms-web-app/src/controllers/selected-appeal/rule-6-sections.js
  packages/forms-web-app/src/lib/representation-functions.js
  packages/forms-web-app/src/routes/appeals/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/routes/lpa-dashboard/selected-appeal.js
  packages/forms-web-app/src/routes/rule-6/selected-appeal.js
Due: azure-pipelines-pr.yml

feat: upgrade resource reference tag from 3.24.2 to 3.25.2
  azure-pipelines-build.yml
  azure-pipelines-pr.yml
  infrastructure/pipelines/terraform-cd.yaml
  infrastructure/pipelines/terraform-ci.yaml
Due: azure-pipelines-pr.yml

fix(web): appeal statement copy updates (A2-6488)
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-documents-rows.test.js
  packages/forms-web-app/src/dynamic-forms/questions.js
Due: azure-pipelines-pr.yml

fix(web): appeal statement copy updates (A2-6488)
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-documents-rows.test.js
Due: azure-pipelines-pr.yml

fix(A2-7300): removing constants for adverts and Enforcements
  packages/common/src/constants.js
  packages/forms-web-app/src/lib/dashboard-functions.test.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix(A2-7300): appellant statement feature flag
  docker-compose.yml
  packages/business-rules/src/rules/appeal-case/case-due-dates.js
  packages/business-rules/src/rules/appeal-case/case-due-dates.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/controllers/selected-appeal/appellant-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/lpa-user-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/representations/index.js
  packages/forms-web-app/src/controllers/selected-appeal/representations/representations-controller.test.js
  packages/forms-web-app/src/controllers/selected-appeal/rule-6-sections.js
  packages/forms-web-app/src/lib/dashboard-functions.test.js
Due: azure-pipelines-pr.yml

chore(tooling): updating wrapper ci from 3.24.2 to 3.25.2
  infrastructure/pipelines/terraform-ci.yaml
Due: none

feat(A2-6748): update lpaq submitted notify to handle enforcement appeals
  README.md
  docs/notifications-and-triggers.md
  packages/appeals-service-api/src/lib/notify.js
  packages/common/src/lib/notify/notify-service.test.js
  packages/common/src/lib/notify/templates/lpaq/v2-lpaq-submitted.md
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
