Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

azure-pipelines-pr.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      gitFetchDepth: 50
      skipAzureAuth: true
      validationJobs:
      - name: Check Changes
        steps:
        - template: ../steps/check_changed_files.yml
  ...

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

fix(infrastructure): add data block to checkinfra pr pipeline failure (no-ticket)
  infrastructure/data.tf
  infrastructure/providers.tf
Due: none

fix(A2-8016): update caseReference on update representation
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/representations/repo.js
Due: azure-pipelines-pr.yml

feat(A2-7767): integration FO-BO initial setup
  package-lock.json
  package.json
  packages/appeals-service-api/__tests__/developer/fixtures/appeals-HAS-data-model.js
  packages/appeals-service-api/__tests__/developer/fixtures/appeals-S78-data-model.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/lpa-questionnaire-submission/submit/index.test.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/service.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/s78/questionnaire.test.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/utils.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/utils.test.js
  packages/common/src/document-types.js
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/dynamic-forms/s78-questionnaire-part-1/journey.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix(a2-7767): include listOfDocumentsBeforeDecision on appealCase
  packages/appeals-service-api/src/routes/v2/appeal-cases/appeal-cases.spec.js
  packages/database/src/migrations/20260501145349_add_list_of_documents_before_decision_to_appealcase/migration.sql
  packages/database/src/schema.prisma
Due: azure-pipelines-pr.yml

test: hearing procedure added to end to end listed building automation tests
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/listedBuilding/listedBuildingGrantedData.js
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/listedBuilding/listedBuildingNoDecisionData.js
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/listedBuilding/listedBuildingRefusedData.js
  test-packages/platform-feature-tests/cypress/support/appealsApiClient.js
  test-packages/platform-feature-tests/cypress/support/commands.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appealsE2EIntegration.js
Due: azure-pipelines-pr.yml

feat(A2-8070): add new-bys-enforcement feature flag
  packages/common/src/feature-flags.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(A2-7789): remove before you start landing page, redirect to select lpa
  packages/forms-web-app/src/controllers/before-you-start/before-you-start.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/before-you-start/before-you-start.js
  packages/forms-web-app/src/views/before-you-start/first-page.njk
Due: azure-pipelines-pr.yml

test: expedited navigation flow udpated
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/upload-documents/uploadApplicationFormPage.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseFullPlanning.js
Due: azure-pipelines-pr.yml

fix(A2-8322): return appellantStatementSubmittedDate for appellant dashboard
  packages/appeals-service-api/src/routes/v2/appeals/repo.js
  packages/forms-web-app/src/lib/dashboard-functions.test.js
Due: azure-pipelines-pr.yml

fix(a2-8249): fix appellant statement open check
  packages/business-rules/src/rules/appeal-case/case-due-dates.js
  packages/business-rules/src/rules/appeal-case/case-due-dates.test.js
Due: azure-pipelines-pr.yml

feat(web): changing reps from other parties lpaq question for has and part 1 (a2-8048)
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/forms-web-app/src/dynamic-forms/docs/has-lpaq-journey.md
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(web): removed lpaq type def (a2-8048)
  packages/appeals-service-api/src/spec/api-types.d.ts
Due: azure-pipelines-pr.yml

fix(a2-8365): no decision date format fix
  packages/business-rules/src/utils/calculate-deadline-before-you-start.js
  packages/business-rules/src/utils/calculate-deadline-before-you-start.test.js
  packages/business-rules/src/utils/calculate-is-within-deadline-before-you-start.js
  packages/business-rules/src/utils/calculate-is-within-deadline-before-you-start.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/date-decision-due.test.js
  packages/forms-web-app/src/controllers/full-appeal/date-decision-due.js
Due: azure-pipelines-pr.yml

fix(infrastructure): update the required provider (no-ticket)
  infrastructure/providers.tf
Due: none

feat(web): added content to Did you receive representation question (A2-8061)
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/public/resources/other-representations/content.html
Due: azure-pipelines-pr.yml

fix(a2-8394): handle islistedbuilding converted to string
  packages/business-rules/src/utils/calculate-deadline-appellant-submission.js
  packages/business-rules/src/utils/calculate-deadline-appellant-submission.test.js
Due: azure-pipelines-pr.yml

feat(forms): added two questions to has and cas appeal form (A2-8384)
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/submit/index.spec.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/appeal.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/cas-planning/appeal.test.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/has/appeal.js
  packages/appeals-service-api/src/services/back-office-v2/formatters/has/appeal.test.js
  packages/forms-web-app/src/dynamic-forms/cas-planning-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/has-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
Due: azure-pipelines-pr.yml

feat(A2-8385): remove appellant statement from HAS and CAS appeals
  packages/business-rules/src/schemas/householder-appeal/appeal-schema/index.js
  packages/business-rules/src/schemas/householder-appeal/insert.test.js
  packages/business-rules/src/schemas/householder-appeal/update.js
  packages/business-rules/src/schemas/householder-appeal/update.test.js
  packages/forms-web-app/__tests__/unit/controllers/full-appeal/type-of-planning-application.test.js
  packages/forms-web-app/src/controllers/full-appeal/application-date.js
  packages/forms-web-app/src/controllers/full-appeal/type-of-planning-application.js
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-documents-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-documents-rows.test.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/adverts-appeal-form/journey.test.js
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/display-questions.js
  packages/forms-web-app/src/dynamic-forms/docs/adverts-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/docs/has-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.js
  packages/forms-web-app/src/dynamic-forms/has-appeal-form/journey.test.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
  packages/forms-web-app/src/lib/documents-for-submission.js
  packages/forms-web-app/src/lib/documents-for-submission.test.js
  packages/forms-web-app/src/lib/is-expedited-part1-eligible.js
  packages/forms-web-app/src/lib/is-expedited-part1-eligible.test.js
Due: azure-pipelines-pr.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
