Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common

feat(ad-37): allow changes for application number
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/lib/get-appeal-props-for-can-use-service-page.js
  packages/forms-web-app/src/views/full-appeal/can-use-service.njk
  packages/forms-web-app/src/views/full-appeal/prior-approval/can-use-service.njk
  packages/forms-web-app/src/views/full-appeal/removal-or-variation-of-conditions/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/prior-approval/can-use-service.njk
  packages/forms-web-app/src/views/householder-planning/eligibility/removal-or-variation-of-conditions/can-use-service.njk
Due: azure-pipelines-pr.yml

feat(ad-36): add deadline check to can use service
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/can-use-service.test.js
  packages/forms-web-app/__tests__/unit/middleware/check-decision-date-deadline.test.js
  packages/forms-web-app/src/controllers/before-you-start/application-lookup.js
  packages/forms-web-app/src/controllers/before-you-start/can-use-service.js
  packages/forms-web-app/src/middleware/check-decision-date-deadline.js
Due: azure-pipelines-pr.yml

feat: add BOPS readme
  docs/bops-application-lookup.md
Due: azure-pipelines-pr.yml

feat(ad-45): add loading spinner for application-lookup
  packages/forms-web-app/src/controllers/before-you-start/application-lookup.js
  packages/forms-web-app/src/public/stylesheets/main.min.css
  packages/forms-web-app/src/sass/loading-spinner.scss
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/views/before-you-start/application-lookup.njk
Due: azure-pipelines-pr.yml

feat(ad-42): add application not found confirmation
  packages/forms-web-app/__tests__/unit/controllers/before-you-start/application-lookup.test.js
  packages/forms-web-app/__tests__/unit/routes/before-you-start/application-lookup.test.js
  packages/forms-web-app/src/controllers/before-you-start/application-lookup.js
  packages/forms-web-app/src/controllers/before-you-start/application-not-found.js
  packages/forms-web-app/src/controllers/before-you-start/application-not-found.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/before-you-start/application-lookup.js
  packages/forms-web-app/src/validators/before-you-start/application-lookup.js
  packages/forms-web-app/src/validators/before-you-start/application-lookup.test.js
  packages/forms-web-app/src/validators/before-you-start/application-not-found.js
  packages/forms-web-app/src/validators/before-you-start/application-not-found.test.js
  packages/forms-web-app/src/views/before-you-start/application-not-found.njk
Due: azure-pipelines-pr.yml

fix(web): content change for upload final comments pages (A2-6520)
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/dynamic-forms/s78-lpa-final-comments/journey.test.js
Due: azure-pipelines-pr.yml

test: final comments how submit added for automation tests
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/finalCommentData.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/finalComment.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/lpa-final-comment/finalComment.js
Due: azure-pipelines-pr.yml

feat(web): add before you start content for expedited appeals
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/controller.test.js
  packages/forms-web-app/src/lib/documents-for-submission.js
  packages/forms-web-app/src/lib/documents-for-submission.test.js
Due: azure-pipelines-pr.yml

feat(web): add applicationDate to isExpeditedAppeal check
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/controller.test.js
Due: azure-pipelines-pr.yml

fix(appeals): rule 6 view other rule 6 party statement display issue
  packages/common/src/lib/representations.js
  packages/common/src/lib/representations.test.js
  packages/forms-web-app/src/controllers/selected-appeal/rule-6-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/user-sections.test.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

test: ldc questionnaire tests automation draft
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-ldc-appeal/submit-ldc-appeal-granted.cy.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-ldc-appeal/submit-ldc-appeal-noListedBuiding.cy.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-ldc-appeal/submit-ldc-appeal-nodecision.cy.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-ldc-appeal/submit-ldc-appeal-refused.cy.js
  test-packages/platform-feature-tests/cypress/e2e/lpa-manage-appeals/ldc-questionnaire.cy.js
  test-packages/platform-feature-tests/cypress/fixtures/enforcement-notice.pdf
  test-packages/platform-feature-tests/cypress/fixtures/lpaManageAppealsData.json
  test-packages/platform-feature-tests/cypress/fixtures/planning-condition.pdf
  test-packages/platform-feature-tests/cypress/fixtures/related-application.pdf
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/ldcAppeal/ldcAppealGrantedData.js
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/ldcAppeal/ldcAppealNoDecisionData.js
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/ldcAppeal/ldcAppealNoListedBuildingData.js
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/ldcAppeal/ldcAppealRefusedData.js
  test-packages/platform-feature-tests/cypress/helpers/lpaManageAppeals/ldcQuestionnaireData.js
  test-packages/platform-feature-tests/cypress/helpers/lpaManageAppeals/listedBuildingQuestionnaireData.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/appealProcess.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/constraintsAndDesignations.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/poReportAndSupportDocs.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/siteAccess.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appealsE2EIntegration.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/lpaManageAppeals/questionnaire.js
Due: azure-pipelines-pr.yml

test: ldc lpaq review comments incorporated
  test-packages/platform-feature-tests/cypress/helpers/lpaManageAppeals/ldcQuestionnaireData.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/constraintsAndDesignations.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/poReportAndSupportDocs.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/lpaManageAppeals/questionnaire.js
Due: azure-pipelines-pr.yml

chore(tooling): updating terraform version to 1.90.0 1.11.0
  infrastructure/providers.tf
Due: none

chore(infrastructure): updating terraform version
  infrastructure/providers.tf
Due: none

test: full appeal submit date page included in automation
  test-packages/platform-feature-tests/cypress/page-objects/prepare-appeal/prepare-appeal-selector.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseApplicationTypeAppeal.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseFullPlanning.js
Due: azure-pipelines-pr.yml

feat(A2-7550): update decision outcome tags
  packages/business-rules/src/utils/decision-outcome.js
  packages/business-rules/src/utils/decision-outcome.spec.js
  packages/common/src/database/data-static.js
  packages/forms-web-app/src/controllers/selected-appeal/index.js
  packages/forms-web-app/src/lib/dashboard-functions.js
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/decided-appeals/controller.js
  packages/forms-web-app/src/utils/format-comment-decided-data.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore: update wrapper ci tags to 3.25.2 to remove branch name checks
  azure-pipelines-build.yml
  azure-pipelines-pr.yml
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: azure-pipelines-pr.yml

feat(A2-7478): expedited appeals - new lpaq journey and design access question
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/common/src/database/data-static.js
  packages/common/src/dynamic-forms/journey-types.js
  packages/database/src/migrations/20260323103313_add_part_1_lpaq_design_access_statement_fields/migration.sql
  packages/database/src/schema.prisma
  packages/database/src/seed/data-dev.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-lpa.js
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/dynamic-forms/s78-questionnaire-part-1/journey.js
  packages/forms-web-app/src/dynamic-forms/s78-questionnaire-part-1/journey.test.js
  packages/forms-web-app/src/journeys/index.js
  packages/forms-web-app/src/public/resources/plans-drawings/upload-design-access-part-1.html
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix(appeals): party name not shown if only one party submitted POE
  packages/forms-web-app/src/controllers/selected-appeal/representations/index.js
  packages/forms-web-app/src/controllers/selected-appeal/representations/representations-controller.test.js
Due: azure-pipelines-pr.yml

feat(web): add upload plans and drawings screens for part 1 lpaq (A2-7479)
  packages/database/src/migrations/20260323145400_add_plans_and_drawings_upload/migration.sql
  packages/database/src/schema.prisma
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/dynamic-forms/s78-questionnaire-part-1/journey.js
Due: azure-pipelines-pr.yml

fix(appeals): filtering ready to start cases from ip dashboard (A2-7285)
  packages/appeals-service-api/src/routes/v2/appeal-cases/controller.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/repo.js
  packages/database/src/seed/data-dev.js
  packages/database/src/seed/seed-appeal.js
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/appeals/controller.js
  packages/forms-web-app/src/routes/file-based-router/comment-planning-appeal/appeals/controller.test.js
Due: azure-pipelines-pr.yml

feat(A2-7478): expedited appeals - additionalDocuments lpaq question
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/appeals-service-api/src/spec/appeal-case.yaml
  packages/appeals-service-api/src/spec/lpa-questionnaire-submission.yaml
  packages/database/src/migrations/20260323145142_additional_documents_fields_for_part_1_lpaq/migration.sql
  packages/database/src/schema.prisma
  packages/forms-web-app/src/dynamic-forms/questions.js
  packages/forms-web-app/src/dynamic-forms/s78-questionnaire-part-1/journey.js
  packages/forms-web-app/src/dynamic-forms/s78-questionnaire-part-1/journey.test.js
Due: azure-pipelines-pr.yml
