Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common

feat(A2-4696): shift login code generation to user action
  packages/common/src/enter-code-config.js
  packages/forms-web-app/__tests__/unit/controllers/common/enter-code.test.js
  packages/forms-web-app/__tests__/unit/controllers/common/need-new-code.test.js
  packages/forms-web-app/__tests__/unit/controllers/common/request-new-code.test.js
  packages/forms-web-app/__tests__/unit/controllers/common/your-email-address.test.js
  packages/forms-web-app/__tests__/unit/controllers/rule-6/email-address.test.js
  packages/forms-web-app/__tests__/unit/controllers/rule-6/enter-code.test.js
  packages/forms-web-app/__tests__/unit/routes/appeal-householder-decision/enter-code.test.js
  packages/forms-web-app/__tests__/unit/routes/full-appeal/submit-appeal/enter-code.test.js
  packages/forms-web-app/__tests__/unit/routes/lpa/enter-code.test.js
  packages/forms-web-app/__tests__/unit/routes/lpa/need-new-code.test.js
  packages/forms-web-app/src/controllers/appeal-householder-decision/email-address.js
  packages/forms-web-app/src/controllers/common/email-address.js
  packages/forms-web-app/src/controllers/common/enter-code.js
  packages/forms-web-app/src/controllers/common/need-new-code.js
  packages/forms-web-app/src/controllers/common/request-new-code.js
  packages/forms-web-app/src/controllers/common/your-email-address.js
  packages/forms-web-app/src/controllers/rule-6/email-address.js
  packages/forms-web-app/src/controllers/rule-6/enter-code.js
  packages/forms-web-app/src/lib/is-token-valid.js
  packages/forms-web-app/src/lib/session-helper.js
  packages/forms-web-app/src/routes/adverts/login/enter-code.js
  packages/forms-web-app/src/routes/appeal-householder-decision/login/code-expired.js
  packages/forms-web-app/src/routes/appeal-householder-decision/login/enter-code.js
  packages/forms-web-app/src/routes/cas-planning/login/enter-code.js
  packages/forms-web-app/src/routes/enforcement-listed-building/login/enter-code.js
  packages/forms-web-app/src/routes/enforcement/login/enter-code.js
  packages/forms-web-app/src/routes/full-appeal/login/enter-code.js
  packages/forms-web-app/src/routes/ldc/login/enter-code.js
  packages/forms-web-app/src/routes/listed-building/login/enter-code.js
  packages/forms-web-app/src/routes/lpa-dashboard/code-expired.js
  packages/forms-web-app/src/routes/lpa-dashboard/enter-code.js
  packages/forms-web-app/src/routes/lpa-dashboard/need-new-code.js
  packages/forms-web-app/src/routes/lpa-dashboard/request-new-code.js
  packages/forms-web-app/src/routes/lpa-dashboard/your-email-address.js
  packages/forms-web-app/src/routes/rule-6/enter-code.js
  packages/forms-web-app/src/routes/rule-6/need-new-code.js
  packages/forms-web-app/src/services/user.service.js
  packages/forms-web-app/src/views/manage-appeals/enter-code.njk
  packages/forms-web-app/src/views/manage-appeals/request-new-code.njk
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(A2-8527): display hearing docs
  packages/appeals-service-api/src/routes/v2/appeal-cases/_caseReference/representations/repo.js
  packages/common/src/document-types.js
  packages/database/src/seed/appeal-documents-dev.js
  packages/forms-web-app/src/controllers/selected-appeal/appellant-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/lpa-user-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/user-sections.test.js
  packages/forms-web-app/src/routes/appeals/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/routes/lpa-dashboard/selected-appeal.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix(api): hiding appeals from comment service with status = ready to start/validation (A2-8985)
  packages/appeals-service-api/src/routes/v2/appeal-cases/appeal-cases.spec.js
  packages/appeals-service-api/src/routes/v2/appeal-cases/repo.js
Due: azure-pipelines-pr.yml

test: fo e2e tests added for enforcement submit
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-enforcement-appeal/submit-enforcement-appeal.cy.js
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/enforcement/enforcementData.js
  test-packages/platform-feature-tests/cypress/page-objects/prepare-appeal/prepare-appeal-selector.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/prepare-appeal/chooseGroundsPage.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/prepare-appeal/groundsFactsPage.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/prepare-appeal/interestInLandPage.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/prepare-appeal/whoIsAppealingPage.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/appeal.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/enforcementAppeal.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseEnforcementPlanning.js
  test-packages/platform-feature-tests/cypress/utils/dateService.js
Due: azure-pipelines-pr.yml

fix(A2-8132): remove duplicate application date question
  packages/forms-web-app/src/dynamic-forms/docs/s78-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/s78-appeal-form/journey.js
  packages/forms-web-app/src/journeys/__snapshots__/index.test.js.snap
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-full-appeal/full-appeal-validation.cy.js
Due: azure-pipelines-pr.yml

fix(A2-8132): update BYS doc
  docs/before-you-start.md
Due: azure-pipelines-pr.yml

chore(update bys doc): update bys doc
  docs/before-you-start.md
Due: azure-pipelines-pr.yml

chore: fix no-unused-vars errors
  packages/appeals-service-api/src/lib/notify.js
  packages/appeals-service-api/src/routes/v2/appeals/_id/controller.js
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/service.js
  packages/appeals-service-api/src/routes/v2/appellant-submissions/_id/submit/controller.js
  packages/appeals-service-api/src/routes/v2/documents/service.js
  packages/appeals-service-api/src/routes/v2/lpa/service.js
  packages/document-service-api/src/routes/v2/submission/_caseReference/case_stage/_caseStage/controller.js
  packages/dynamic-forms/src/dynamic-components/listed-building-add-more/question.js
  packages/forms-web-app/src/controllers/common/enter-code.js
  packages/forms-web-app/src/controllers/common/your-email-address.js
  packages/forms-web-app/src/controllers/rule-6/email-address.js
  packages/forms-web-app/src/dynamic-forms/appeal-grounds-questions.js
  packages/forms-web-app/src/dynamic-forms/docs/check-docs-changed.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/utils/submission-information-utils.js
  packages/forms-web-app/src/lib/session.js
  packages/forms-web-app/src/services/task.service.js
  packages/forms-web-app/webpack.common.js
Due: azure-pipelines-pr.yml

chore: remove unused eslint-disable comments
  dev/data/init.js
  packages/document-service-api/src/lib/blobStorage.js
  packages/forms-web-app/__tests__/unit/routes/full-appeal/submit-appeal/proposed-development-changed.js
  packages/forms-web-app/__tests__/unit/routes/full-appeal/you-cannot-appeal.spec.js
  packages/forms-web-app/src/controllers/appellant-submission/supporting-documents.js
  packages/forms-web-app/src/lib/filter-by-key.js
  packages/forms-web-app/src/services/task-status/full-appeal/status-appeal-site-section.js
Due: azure-pipelines-pr.yml

chore: remove eslint-env comments
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie-preferences-page.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie-preferences/index.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/cookie-consent-accepted.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/cookie-consent-rejected.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/cookie-consent.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/cookie-dom-helpers.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/cookie-jar.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/index.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/google-analytics.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/google-tag-manager.test.js
  packages/forms-web-app/__tests__/unit/lib/client-side/index.test.js
  packages/forms-web-app/src/lib/client-side/cookie-preferences-page.js
  packages/forms-web-app/src/lib/client-side/cookie-preferences/index.js
  packages/forms-web-app/src/lib/client-side/cookie/cookie-consent-accepted.js
  packages/forms-web-app/src/lib/client-side/cookie/cookie-consent-rejected.js
  packages/forms-web-app/src/lib/client-side/cookie/cookie-consent.js
  packages/forms-web-app/src/lib/client-side/cookie/cookie-dom-helpers.js
  packages/forms-web-app/src/lib/client-side/cookie/cookie-jar.js
  packages/forms-web-app/src/lib/client-side/google-analytics.js
  packages/forms-web-app/src/lib/client-side/google-tag-manager.js
  packages/forms-web-app/src/lib/client-side/index.js
  packages/forms-web-app/src/lib/client-side/javascript-requiring-consent.js
Due: azure-pipelines-pr.yml

chore: format
  packages/appeals-service-api/src/mappers/horizon-mapper.js
  packages/forms-web-app/src/lib/client-side/cookie/cookie-jar.js
  packages/forms-web-app/src/lib/client-side/google-analytics.js
  packages/forms-web-app/src/lib/client-side/google-tag-manager.js
  packages/forms-web-app/src/lib/client-side/javascript-requiring-consent.js
  packages/forms-web-app/src/services/task.service.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseApplicationTypeAppeal.js
Due: azure-pipelines-pr.yml

chore: fix no-unused-private-class-members errors
  packages/appeals-service-api/src/repositories/back-office-repository.js
Due: azure-pipelines-pr.yml

chore: fix preserve-caught-error errors
  packages/appeals-service-api/src/services/back-office-v2/index.js
  packages/common/src/lib/notify/notify-service.js
  packages/document-service-api/src/db/repos/repository.js
  packages/forms-web-app/src/journeys/question-overrides/multi-file-upload.js
  packages/forms-web-app/src/lib/appeals-api-wrapper.js
  packages/forms-web-app/src/lib/documents-api-wrapper.js
  packages/forms-web-app/src/services/pdf.service.js
  packages/integration-functions/src/functions/run-maintenance.js
  packages/pdf-service-api/src/lib/generatePdf.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore: fix no-useless-assignment errors
  packages/appeals-service-api/__tests__/developer/external-dependencies/rest-apis/mocked-external-apis.js
  packages/appeals-service-api/src/controllers/local-planning-authorities.js
  packages/appeals-service-api/src/mappers/horizon-mapper.js
  packages/appeals-service-api/src/routes/v2/listed-buildings/controller.js
  packages/appeals-service-api/src/services/lpa.service.js
  packages/common/src/database/chunk-array.js
  packages/common/src/utils.test.js
  packages/dynamic-forms/src/dynamic-components/date/question.js
  packages/forms-web-app/__tests__/unit/controllers/common/your-email-address.test.js
  packages/forms-web-app/src/controllers/common/email-address.js
  packages/forms-web-app/src/controllers/full-appeal/submit-appeal/email-address-confirmed.js
  packages/forms-web-app/src/controllers/selected-appeal/costs/index.js
  packages/forms-web-app/src/lib/get-appeal-props-for-can-use-service-page.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseApplicationTypeAppeal.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore: use @planning-inspectorate/coding-standards
  .eslintignore
  .eslintrc.js
  .prettierrc
  commitlint.config.js
  commitlint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
Due: azure-pipelines-pr.yml

fix(A2-8132): remove duplicate application date question
  packages/forms-web-app/src/dynamic-forms/display-questions.js
  packages/forms-web-app/src/dynamic-forms/docs/s78-appeal-form-journey.md
  packages/forms-web-app/src/dynamic-forms/s78-appeal-form/journey.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/submit-full-appeal/full-appeal-validation.cy.js
Due: azure-pipelines-pr.yml

chore: bump required node version from lint-staged
  package.json
Due: azure-pipelines-pr.yml

chore(A2-9227): update lpa email address
  packages/appeals-service-api/data/lpa-list.csv
Due: azure-pipelines-pr.yml

chore(tooling): updating required condition for terraform
  infrastructure/providers.tf
Due: none

chore: update puppeteer-core from 24.37.2 to 25.9.0
  package-lock.json
  package.json
  packages/pdf-service-api/package.json
  packages/pdf-service-api/src/lib/generatePdf.js
  packages/pdf-service-api/src/lib/generatePdf.test.js
Due: azure-pipelines-pr.yml

chore(infra): updating azurerm v5
  infrastructure/.terraform.lock.hcl
  infrastructure/providers.tf
Due: none

fix(A2-9116): add display condition for total site area row in LPAQ summary page
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.test.js
Due: azure-pipelines-pr.yml

style(A2-8525): new format doc link func for new documents
  packages/forms-web-app/src/controllers/selected-appeal/documents/documents-controller.test.js
  packages/forms-web-app/src/controllers/selected-appeal/documents/index.js
  packages/forms-web-app/src/lib/representation-functions.js
Due: azure-pipelines-pr.yml
