Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr.yml, pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

Path conditions:
  azure-pipelines-pr.yml: any file but: infrastructure
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common

feat(a2-3732): add s20 rows to dashboards
  packages/common/src/document-types.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.test.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

feat(web): removing error message for non user (A2-1450)
  packages/forms-web-app/__tests__/unit/controllers/common/enter-code.test.js
  packages/forms-web-app/__tests__/unit/controllers/common/your-email-address.test.js
  packages/forms-web-app/src/controllers/common/enter-code.js
  packages/forms-web-app/src/controllers/common/your-email-address.js
  packages/forms-web-app/src/lib/map-cache.js
  packages/forms-web-app/src/lib/map-cache.test.js
  packages/forms-web-app/src/routes/lpa-dashboard/your-email-address.js
Due: azure-pipelines-pr.yml

feat: updating document rows to match S78 for S20 (A2-3849)
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-documents-rows.js
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-documents-rows.test.js
Due: azure-pipelines-pr.yml

feat(forms-web-app): display S20 contstraints and designations fields
  packages/forms-web-app/src/controllers/selected-appeal/questionnaire-details/constraints-details-rows.js
Due: azure-pipelines-pr.yml

updated representations code
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/full-appeal-appellant-final-comment-validation.cy.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/full-appeal-appellant-proofs-of-evidence-validation.cy.js
  test-packages/platform-feature-tests/cypress/e2e/appellant-aapd/full-appeal-appellant-statement-validation.cy.js
  test-packages/platform-feature-tests/cypress/e2e/lpa-manage-appeals/full-appeal-final-comment-validation.cy.js
  test-packages/platform-feature-tests/cypress/e2e/lpa-manage-appeals/full-appeal-lpa-proofs-of-evidence-validation.cy.js
  test-packages/platform-feature-tests/cypress/e2e/lpa-manage-appeals/full-appeal-statement-validation.cy.js
  test-packages/platform-feature-tests/cypress/e2e/rule-6-appeals/full-appeal-proofs-of-evidence-validation.cy.js
  test-packages/platform-feature-tests/cypress/e2e/rule-6-appeals/full-appeal-statement-validation.cy.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/finalComment.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/envImpactAssess.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/lpa-final-comment/finalComment.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/statement.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/lpaManageAppeals/finalComment.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/lpaManageAppeals/proofsOfEvidence.js
  test-packages/platform-feature-tests/cypress/utils/deleteUploadedDocuments.js
Due: azure-pipelines-pr.yml

listed building data issue fixed
  test-packages/platform-feature-tests/cypress/helpers/appellantAAPD/listedBuilding/listedBuildingGrantedData.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/appellant-aapd/prepare-appeal/applicationNamePage.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appellantAAPD/initialiseHouseHolderPlanning.js
Due: azure-pipelines-pr.yml

updated representations code
  test-packages/platform-feature-tests/cypress/e2e/rule-6-appeals/full-appeal-proofs-of-evidence.cy.js
  test-packages/platform-feature-tests/cypress/e2e/rule-6-appeals/full-appeal-statement.cy.js
Due: azure-pipelines-pr.yml

lpa questionnaire issues fixed for s20 and s78
  test-packages/platform-feature-tests/cypress/e2e/lpa-manage-appeals/full-appeal-questionnaire-validation.cy.js
  test-packages/platform-feature-tests/cypress/fixtures/lpaManageAppealsData.json
  test-packages/platform-feature-tests/cypress/support/flows/pages/lpa-manage-appeals/poReportAndSupportDocs.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/lpaManageAppeals/questionnaire.js
Due: azure-pipelines-pr.yml

chore(tooling): testing appeals infra script
  commitlint.config.js
  infrastructure/.pre-commit-config.yaml
  infrastructure/environments/test.hcl
  infrastructure/environments/training.hcl
  infrastructure/stacks/uk-west/appeals-service/data-appeals-bo.tf
  packages/appeals-service-api/src/configuration/config.js
  packages/auth-server/src/configuration/config.js
  packages/business-rules/src/config.spec.js
  packages/common/src/client/auth-client.test.js
  packages/common/src/config.js
  packages/common/src/is-feature-active.js
  packages/document-service-api/src/configuration/config.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/cookie-config.test.js
  packages/forms-web-app/__tests__/unit/lib/session.test.js
  packages/forms-web-app/__tests__/unit/middleware/navigation-history.test.js
  packages/forms-web-app/src/config.js
  test-packages/platform-feature-tests/cypress.config.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore(tooling): testing appeals infra script
  azure-pipelines-db-seed.yml
  commitlint.config.js
  infrastructure/.pre-commit-config.yaml
  infrastructure/config/test.hcl
  infrastructure/config/training.hcl
  infrastructure/pipelines/terraform-cd.yaml
  infrastructure/stacks/uk-west/appeals-service/data-appeals-bo.tf
  packages/appeals-service-api/src/configuration/config.js
  packages/auth-server/src/configuration/config.js
  packages/business-rules/src/config.spec.js
  packages/common/src/client/auth-client.test.js
  packages/common/src/config.js
  packages/common/src/is-feature-active.js
  packages/document-service-api/src/configuration/config.js
  packages/forms-web-app/__tests__/unit/lib/client-side/cookie/cookie-config.test.js
  packages/forms-web-app/__tests__/unit/lib/session.test.js
  packages/forms-web-app/__tests__/unit/middleware/navigation-history.test.js
  packages/forms-web-app/src/config.js
  test-packages/platform-feature-tests/cypress.config.js
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

chore(tooling): testing appeals infra script
  infrastructure/pipelines/terraform-cd.yaml
Due: none

chore(tooling): testing appeals infra script
  infrastructure/config/dev.hcl
Due: none

chore(tooling): adding dev.tfvars file
  infrastructure/config/dev.tfvars
Due: none

chore(tooling): testing appeals infra script
  infrastructure/config/dev.tfvars
Due: none

chore(tooling): testing appeals infra script
  infrastructure/config/dev.tfvars
  infrastructure/stacks/uk-west/appeals-service/terragrunt.hcl
  infrastructure/stacks/uk-west/appeals-service/variables.tf
Due: none

fix(waf): turn windows command injection rules to log due to false positives
  infrastructure/front-door.tf
Due: none

ip comments review added
  test-packages/platform-feature-tests/cypress/e2e/ip-comments/ip-comments.cy.js
  test-packages/platform-feature-tests/cypress/support/browserAuthData/auth-user-appellant-cookies.json
  test-packages/platform-feature-tests/cypress/support/flows/pages/back-office-appeals/caseDetailsPage.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/back-office-appeals/happyPathHelper.js
  test-packages/platform-feature-tests/cypress/support/flows/pages/ip-comments/ipComments.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/appealIdWaitingForReview.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/initialiseFullPlanning.js
  test-packages/platform-feature-tests/cypress/support/flows/sections/ipComments/ipComments.js
  test-packages/platform-feature-tests/cypress/support/login.js
Due: azure-pipelines-pr.yml

feat: setup dynamic-forms package
  azure-pipelines-build.yml
  azure-pipelines-pr.yml
  docker-compose.yml
  docs/best-practice.md
  package-lock.json
  package.json
  packages/appeals-service-api/Dockerfile
  packages/appeals-service-api/package.json
  packages/common/package.json
  packages/dynamic-forms/jest.config.js
  packages/dynamic-forms/jsconfig.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/readme.md
  packages/dynamic-forms/src/index.js
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
Due: azure-pipelines-pr.yml, pipelines/common/common-ci.yml

fix: increase test coverage and fix proof of evidence middleware
  packages/forms-web-app/__tests__/unit/lib/string-functions.test.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/boolean/question.test.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/text-entry/question.test.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/unit-option-entry/question.test.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/utils/question-has-answer.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-appellant-final-comments.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-appellant-proof-evidence.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-appellant-proof-evidence.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-appellant.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-lpa-final-comments.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-lpa-proof-evidence.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-lpa-statement.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-rule-6-proof-evidence.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey-response-for-rule-6-statement.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/get-journey.test.js
  packages/forms-web-app/src/dynamic-forms/middleware/set-default-section.test.js
  packages/forms-web-app/src/dynamic-forms/s78-lpa-final-comments/journey.test.js
  packages/forms-web-app/src/lib/build-zip-filename.test.js
  packages/forms-web-app/src/lib/determine-user.test.js
Due: azure-pipelines-pr.yml

refactor: inject save function for dynamic forms
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/controller.test.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/list-add-more/question.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/list-add-more/question.test.js
  packages/forms-web-app/src/dynamic-forms/question.js
  packages/forms-web-app/src/dynamic-forms/question.test.js
  packages/forms-web-app/src/journeys/get-journey-save.js
  packages/forms-web-app/src/journeys/get-journey-save.test.js
  packages/forms-web-app/src/journeys/question-overrides/multi-file-upload.js
  packages/forms-web-app/src/journeys/question-overrides/multi-file-upload.test.js
  packages/forms-web-app/src/journeys/question-overrides/site-address.js
  packages/forms-web-app/src/journeys/question-overrides/site-address.test.js
Due: azure-pipelines-pr.yml

feat(forms-web-app): cas planning lpaq
  packages/forms-web-app/src/dynamic-forms/cas-planning-questionnaire/journey.js
  packages/forms-web-app/src/dynamic-forms/docs/cas-planning-lpaq-journey.md
  packages/forms-web-app/src/journeys/index.js
Due: azure-pipelines-pr.yml
