Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:

trigger:
  paths:
    include:
      - packages/clamav-rest-server

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Appeals Token
      name: Planning-Inspectorate/common-pipeline-templates

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(dockerFilePath)
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/clamav-rest-server

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Appeals Token
      name: Planning-Inspectorate/common-pipeline-templates

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: appeal-planning-decision-tooling
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azurecrName)

            docker build . -t $(azurecrName).azurecr.io/$(repository):latest

            docker push -a $(azurecrName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

refactor: correct rule 6 statement section typo
  packages/forms-web-app/src/controllers/selected-appeal/rule-6-sections.js
Due: none

feat(aapd-1300): new crown logo (tudor crown)
  package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/public/images/favicon.ico
  packages/forms-web-app/src/public/images/govuk-apple-touch-icon-152x152.png
  packages/forms-web-app/src/public/images/govuk-apple-touch-icon-167x167.png
  packages/forms-web-app/src/public/images/govuk-apple-touch-icon-180x180.png
  packages/forms-web-app/src/public/images/govuk-apple-touch-icon.png
  packages/forms-web-app/src/public/images/govuk-logotype-tudor-crown.png
  packages/forms-web-app/src/public/images/govuk-mask-icon.svg
  packages/forms-web-app/src/public/images/govuk-opengraph-image.png
  packages/forms-web-app/src/views/layouts/full-appeal-banner/main-no-back-link.njk
  packages/forms-web-app/src/views/layouts/full-appeal-banner/main.njk
  packages/forms-web-app/src/views/layouts/householder-banner/main-no-back-link.njk
  packages/forms-web-app/src/views/layouts/householder-banner/main.njk
  packages/forms-web-app/src/views/layouts/main-no-back-link.njk
  packages/forms-web-app/src/views/layouts/main.njk
  packages/forms-web-app/src/views/layouts/no-banner-link/main-no-back-link.njk
  packages/forms-web-app/src/views/layouts/no-banner-link/main.njk
  packages/web-comment/package.json
  packages/web-comment/src/main.njk
  packages/web-comment/src/public/images/favicon.ico
  packages/web-comment/src/public/images/govuk-apple-touch-icon-152x152.png
  packages/web-comment/src/public/images/govuk-apple-touch-icon-167x167.png
  packages/web-comment/src/public/images/govuk-apple-touch-icon-180x180.png
  packages/web-comment/src/public/images/govuk-apple-touch-icon.png
  packages/web-comment/src/public/images/govuk-logotype-tudor-crown.png
  packages/web-comment/src/public/images/govuk-mask-icon.svg
  packages/web-comment/src/public/images/govuk-opengraph-image.png
Due: none

chore: bump npm version
  package-lock.json
  package.json
  packages/appeals-service-api/package.json
  packages/business-rules/package.json
  packages/clamav-rest-server/package.json
  packages/common/package.json
  packages/document-service-api/package.json
  packages/forms-web-app/package.json
  packages/integration-functions/package.json
  packages/pdf-service-api/package.json
  packages/web-comment/package.json
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

feat(aapd-1226): add appead details to IP view
  packages/common/src/frontend/pins/components/appeal-sections-block.njk
  packages/web-comment/src/routes/appeals/_appealNumber/index.njk
Due: pipelines/common/common-ci.yml

feat(aapd-1226): use sections code in web comment
  packages/common/src/client/appeals-api-client.js
  packages/common/src/constants.js
  packages/common/src/view-model-maps/index.js
  packages/common/src/view-model-maps/sections/def.d.ts
  packages/common/src/view-model-maps/sections/index.js
  packages/forms-web-app/src/controllers/selected-appeal/appellant-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/lpa-user-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/rule-6-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/section.d.ts
  packages/forms-web-app/src/controllers/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/lib/determine-user.js
  packages/web-comment/src/routes/appeals/_appealNumber/controller.js
Due: pipelines/common/common-ci.yml

feat(aadp-1226): add missing bits
  packages/web-comment/src/routes/appeals/_appealNumber/controller.js
  packages/web-comment/src/routes/appeals/_appealNumber/index.njk
Due: none

feat(1061): add routes, appeal-details controller
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-details.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/appeals/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/routes/lpa-dashboard/selected-appeal.js
  packages/forms-web-app/src/views/selected-appeal/appeal-details.njk
Due: none

feat(1061): r6 appeal details headlines
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/appeal-details.js
  packages/forms-web-app/src/routes/rule-6-appeals/index.js
  packages/forms-web-app/src/views/selected-appeal/appeal-details.njk
Due: none

feat(1061): headline data, fix links to page
  packages/common/src/frontend/pins/components/appeal-sections-block.njk
  packages/forms-web-app/src/controllers/selected-appeal/lpa-user-sections.js
  packages/forms-web-app/src/controllers/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/views/selected-appeal/appeal.njk
Due: pipelines/common/common-ci.yml

feat(1061): rename files, amend imports
  packages/forms-web-app/src/controllers/selected-appeal/appeal-details/index.js
  packages/forms-web-app/src/controllers/selected-appeal/index.js
  packages/forms-web-app/src/routes/appeals/selected-appeal/selected-appeal.js
  packages/forms-web-app/src/routes/lpa-dashboard/selected-appeal.js
  packages/forms-web-app/src/routes/rule-6-appeals/index.js
Due: none

chore(fix typo): fix typo
  packages/common/src/view-model-maps/sections/index.js
Due: pipelines/common/common-ci.yml

chore: seed HAS case w/questionnaire
  packages/database/src/seed/lpa-appeal-case-data-dev.js
Due: none

fix: seed HAS case w/questionnaire
  packages/database/src/seed/lpa-appeal-case-data-dev.js
Due: none

feat(aapd-1196): add home page redirect for web comment
  packages/web-comment/src/routes/index.js
Due: none

fix: move array has items to common
  packages/common/src/lib/array-has-items.js
  packages/forms-web-app/src/app.js
  packages/web-comment/src/app.js
Due: pipelines/common/common-ci.yml

fix: update readme
  README.md
Due: none

fix: revert readme change
  README.md
Due: none

fix(aapd-1122): amend copy
  packages/forms-web-app/src/controllers/selected-appeal/lpa-user-sections.js
Due: none

chore: update readme files for local database setup
  README.md
  packages/database/src/README.md
Due: none

test(aapd-1375): add dashboard enabled check to tests
  packages/forms-web-app/__tests__/unit/routes/index.test.js
Due: none

feat(aapd-1375): add dashboards enabled check to lpa appellant and rule 6 dashboards
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/routes/index.js
Due: none
