Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:

trigger:
  paths:
    include:
      - packages/clamav-rest-server

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Appeals Token
      name: Planning-Inspectorate/common-pipeline-templates

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(dockerFilePath)
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/clamav-rest-server

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Appeals Token
      name: Planning-Inspectorate/common-pipeline-templates

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: appeal-planning-decision-tooling
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azurecrName)

            docker build . -t $(azurecrName).azurecr.io/$(repository):latest

            docker push -a $(azurecrName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

feat(AAPD-706): proove parallelism
  packages/common/src/utils.js
  packages/common/src/utils.test.js
Due: pipelines/common/common-ci.yml

feat(AAPD-706): add logs around slow things
  package-lock.json
  packages/appeals-service-api/src/services/responses.service.js
  packages/common/src/utils.js
  packages/common/src/utils.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.js
Due: pipelines/common/common-ci.yml

feat(AADP-706): clean up after myself
  package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
Due: none

feat(AAPD-706): fix tests, move mocking up to api
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.test.js
  packages/forms-web-app/src/dynamic-forms/question.js
  packages/forms-web-app/src/lib/multi-file-upload-helpers.js
Due: none

fix(aapd-995): show appeal outcome as-is
  packages/forms-web-app/__tests__/unit/lib/dashboard-functions.spec.js
  packages/forms-web-app/src/lib/dashboard-functions.js
Due: none

feat(aapd-808): make your appeals continue links work
  package-lock.json
  packages/appeals-service-api/package.json
  packages/appeals-service-api/src/routes/api-docs.js
  packages/appeals-service-api/src/routes/v2/users/_id/appeal-submissions/_appealSubmissionId/controller.js
  packages/appeals-service-api/src/routes/v2/users/_id/appeal-submissions/_appealSubmissionId/index.js
  packages/appeals-service-api/src/routes/v2/users/_id/appeal-submissions/_appealSubmissionId/repo.js
  packages/appeals-service-api/src/routes/v2/users/_id/appeal-submissions/_appealSubmissionId/service.js
  packages/appeals-service-api/src/routes/v2/users/_id/appeal-submissions/_appealSubmissionId/spec.yaml
  packages/appeals-service-api/src/spec/api-types.d.ts
  packages/appeals-service-api/src/spec/appeal-submission.yaml
  packages/appeals-service-api/src/spec/format-write.js
  packages/appeals-service-api/src/spec/gen-api-spec-types.js
  packages/appeals-service-api/src/spec/gen-api-spec.js
  packages/appeals-service-api/src/spec/write-api-spec.js
  packages/appeals-service-api/src/spec/write-api-types.js
  packages/appeals-service-api/src/validators/validate-open-api.js
  packages/common/src/client/appeals-api-client.js
  packages/common/src/router.js
  packages/forms-web-app/src/controllers/appeals/continue.js
  packages/forms-web-app/src/controllers/appeals/your-appeals.js
  packages/forms-web-app/src/lib/dashboard-functions.js
  packages/forms-web-app/src/routes/appeals/your-appeals/index.js
  packages/forms-web-app/src/views/appeals/your-appeals.njk
Due: pipelines/common/common-ci.yml

fix(aapd-516): test update and url pattern changed to match agreed standards
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/controller.test.js
  packages/forms-web-app/src/dynamic-forms/route.js
Due: none

fix(aapd-516): changing unit test for submit and removing happy path render from nested loop
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/controller.test.js
Due: none

fix(aapd-516): copy fixes and questionnaire submitted controller
  packages/forms-web-app/src/dynamic-forms/controller.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/submission-screen/index.njk
  packages/forms-web-app/src/dynamic-forms/route.js
Due: none

feat(aapd-1237): skip/remove clamav rest app
  .vscode/launch.json
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/clamav-rest-server/.dockerignore
  packages/clamav-rest-server/CHANGELOG.md
  packages/clamav-rest-server/Dockerfile
  packages/clamav-rest-server/README.md
  packages/clamav-rest-server/__tests__/setup-jest.js
  packages/clamav-rest-server/__tests__/unit/controllers/proxy-controller.spec.js
  packages/clamav-rest-server/__tests__/unit/lib/clamd.test.js
  packages/clamav-rest-server/__tests__/unit/mocks.js
  packages/clamav-rest-server/jest.config.js
  packages/clamav-rest-server/package.json
  packages/clamav-rest-server/src/app.js
  packages/clamav-rest-server/src/controllers/proxy-controller.js
  packages/clamav-rest-server/src/lib/clamd.js
  packages/clamav-rest-server/src/lib/config.js
  packages/clamav-rest-server/src/lib/healthchecks.js
  packages/clamav-rest-server/src/lib/logger.js
  packages/clamav-rest-server/src/main.js
  packages/clamav-rest-server/src/server.js
  packages/common/src/client/clamav-client.js
  packages/common/src/client/clamav-client.test.js
  packages/common/src/client/clamav-rest-client.js
  packages/forms-web-app/__tests__/unit/validators/common/appeal-statement.test.js
  packages/forms-web-app/__tests__/unit/validators/common/schemas/file-upload.test.js
  packages/forms-web-app/__tests__/unit/validators/common/schemas/multifile-upload-schema.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/dynamic-forms/validator/multifile-upload-validator.test.js
  packages/forms-web-app/src/lib/clam-av-client-get.js
  packages/forms-web-app/src/lib/clam-av-client.js
  packages/forms-web-app/src/validators/common/schemas/file-upload.js
  packages/forms-web-app/src/validators/common/schemas/multifile-upload-schema.js
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

feat(aapd-672): reuse async handler across services
  packages/appeals-service-api/jsconfig.json
  packages/appeals-service-api/package.json
  packages/appeals-service-api/src/routes/v2/appeal-cases/index.js
  packages/appeals-service-api/src/routes/v2/migrate/index.js
  packages/appeals-service-api/src/routes/v2/token/index.js
  packages/appeals-service-api/src/routes/v2/users/_id/appeals/index.js
  packages/appeals-service-api/src/routes/v2/users/index.js
  packages/common/src/middleware/async-handler.js
  packages/web-comment/src/routes/appeal-open-comment/index.js
  packages/web-comment/src/routes/appeal-search-no-results/index.js
  packages/web-comment/src/routes/appeals/index.js
  packages/web-comment/src/routes/decided-appeals/index.js
  packages/web-comment/src/routes/enter-appeal-reference/index.js
  packages/web-comment/src/routes/enter-postcode/index.js
  packages/web-comment/src/utils/async-handler.js
Due: pipelines/common/common-ci.yml

feat(aapd-672): add blob storage client
  .gitignore
  docker-compose.yml
  package-lock.json
  packages/appeals-service-api/package.json
  packages/common/package.json
  packages/common/src/client/blob-storage-client.js
  packages/common/src/client/blob-storage-error.js
  packages/document-service-api/package.json
  packages/document-service-api/src/configuration/config.js
  packages/integration-functions/package.json
Due: pipelines/common/common-ci.yml

feat(aapd-672): add todo to existing client
  packages/document-service-api/src/lib/blobStorage.js
Due: none

feat(aapd-672): add documents profile and update azurite version
  Makefile
  docker-compose.yml
Due: none

fix(live-issue): add index route to apis to avoid regular ping 404s in logs
  packages/appeals-service-api/src/routes/index.js
  packages/document-service-api/src/routes/index.js
  packages/pdf-service-api/src/routes/index.js
Due: none

feat(aapd-672): add v2 routes for back office doc retrieval
  docker-compose.yml
  packages/common/src/client/blob-storage-client.js
  packages/common/src/feature-flags.js
  packages/document-service-api/jsconfig.json
  packages/document-service-api/package.json
  packages/document-service-api/src/lib/back-office-storage-client.js
  packages/document-service-api/src/routes/index.js
  packages/document-service-api/src/routes/v2/back-office/controller.js
  packages/document-service-api/src/routes/v2/back-office/index.js
  packages/document-service-api/src/routes/v2/back-office/spec.yaml
  packages/document-service-api/src/routes/v2/index.js
  packages/document-service-api/src/spec/gen-api-spec.js
  packages/document-service-api/test/developer/developer.test.js
  packages/document-service-api/test/developer/testcontainer-helpers/azurite-container-helper.js
Due: pipelines/common/common-ci.yml

feat(aapd-672): async handler to common
  packages/appeals-service-api/src/routes/v2/users/_id/appeal-submissions/_appealSubmissionId/index.js
Due: none

chore(aapd-1242): update West Northampshire email
  packages/appeals-service-api/data/lpa-list.csv
Due: none

chore(aapd-1238): update Buckinghamshire Council South and East Area email
  packages/appeals-service-api/data/lpa-list.csv
Due: none

fix(aapd-926): adds an error page for firewall errors
  packages/common/src/client/appeals-api-client.js
  packages/forms-web-app/src/controllers/error/firewall-error.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/error/firewall-error.js
  packages/forms-web-app/src/routes/error/index.js
Due: pipelines/common/common-ci.yml

fix(aapd-672): bo blob sas url fix local and azure
  docker-compose.yml
  packages/common/src/client/blob-storage-client.js
Due: pipelines/common/common-ci.yml

fix(aapd-672): change routes to allow back office doc uris
  packages/document-service-api/src/routes/v2/back-office/controller.js
  packages/document-service-api/src/routes/v2/back-office/index.js
  packages/document-service-api/src/routes/v2/back-office/spec.yaml
  packages/document-service-api/test/developer/developer.test.js
Due: none

chore(local-dev): ignore eicar file
  .gitignore
Due: none
