Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

feat(as-5748): template, routes, controller, validation and tests for final comment page
  packages/forms-web-app/__tests__/unit/routes/final-comment/final-comment.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/controllers/final-comment/final-comment.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/final-comment/final-comment.js
  packages/forms-web-app/src/routes/full-appeal/submit-final-comment/index.js
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/validators/common/appeal-statement.js
  packages/forms-web-app/src/validators/common/does-not-include-sensitive-information.js
  packages/forms-web-app/src/validators/final-comment/final-comment.js
  packages/forms-web-app/src/views/final-comment/final-comment.njk
  packages/forms-web-app/src/views/includes/sensitive-information.njk
Due: none

feat(file name): content for service unavailable
  packages/forms-web-app/src/views/error/unhandled-exception.njk
Due: none

feat(as-5769): add route, controller, view for comments-question page
  packages/forms-web-app/__tests__/unit/controllers/final-comment/comments-question.test.js
  packages/forms-web-app/__tests__/unit/routes/final-comment/comments-question.test.js
  packages/forms-web-app/src/controllers/final-comment/comments-question.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/final-comment/comments-question.js
  packages/forms-web-app/src/routes/full-appeal/submit-final-comment/index.js
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/views/final-comment/comments-question.njk
Due: none

feat(as-5821): skip appeal-based middleware on final comments routes
  packages/forms-web-app/__tests__/unit/middleware/skip-middleware-if-final-comments.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/controllers/final-comment/comments-question.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/middleware/skip-middleware-if-final-comments.js
  packages/forms-web-app/src/routes/full-appeal/submit-appeal/index.js
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/comments-question.njk
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/final-comment.njk
Due: none

feat(as-5821): rename checkAppealTypeExists middleware to checkPathAllowed
  packages/forms-web-app/__tests__/unit/middleware/check-path-allowed.test.js
  packages/forms-web-app/__tests__/unit/middleware/skip-middleware-if-final-comments.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/middleware/check-path-allowed.js
  packages/forms-web-app/src/routes/index.js
Due: none

feat(updated lpa csv list to reflect excel list): updated lpa csv list to reflect excel list
  packages/appeals-service-api/data/lpa-list.csv
Due: none

feat(as-5749): add route, controller and view for final comment documents-check page
  packages/forms-web-app/__tests__/unit/controllers/final-comment/documents-check.test.js
  packages/forms-web-app/src/controllers/final-comment/comments-question.js
  packages/forms-web-app/src/controllers/final-comment/documents-check.js
  packages/forms-web-app/src/controllers/final-comment/final-comment.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/final-comment/documents-check.js
  packages/forms-web-app/src/routes/full-appeal/submit-final-comment/index.js
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/documents-check.njk
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/final-comment.njk
Due: none

feat(readme): updated documnent-service-api readme with info on configuring connection string
  packages/document-service-api/README.md
Due: none

feat(readme): updated document service API readme with info on how to configure connection string
  packages/document-service-api/README.md
Due: none

feat(AS-5815): updating tests to correctly align with new location, adding safety to feature flags
  README.md
  docker-compose.yml
  packages/appeals-service-api/__tests__/developer/developer.test.js
  packages/common/README.md
  packages/common/src/featureFlag.js
  packages/common/src/index.test.js
  packages/document-service-api/src/controllers/documents.test.js
  packages/document-service-api/test/developer/developer.test.js
Due: pipelines/common/common-ci.yml

feat(as-5815): correcting safety if statement to only return false if env variables are undefined
  packages/common/src/featureFlag.js
Due: pipelines/common/common-ci.yml

feat(as-5815): updating safety catch to catch additional invalid cases
  packages/common/src/featureFlag.js
Due: pipelines/common/common-ci.yml

feat(as-5815): update readme to better reflect correct flag process
  README.md
  packages/common/README.md
Due: pipelines/common/common-ci.yml

feat(as-5815): refactoring feature flags implementation for wider use across the solution
  README.md
  docker-compose.yml
  packages/appeals-service-api/__tests__/developer/developer.test.js
  packages/appeals-service-api/src/configuration/config.js
  packages/appeals-service-api/src/configuration/featureFlag.js
  packages/appeals-service-api/src/repositories/back-office-repository.js
  packages/appeals-service-api/src/routes/index.js
  packages/common/src/config.js
  packages/common/src/featureFlag.js
  packages/common/src/index.js
  packages/document-service-api/src/controllers/documents.js
  packages/document-service-api/src/controllers/documents.test.js
  packages/document-service-api/test/developer/developer.test.js
Due: pipelines/common/common-ci.yml

feat(as-5815): removing redundant code
  packages/document-service-api/test/developer/developer.test.js
Due: none

feat(runtime configuration of telemetry): adds and initialises application insights lib at startup
  packages/appeals-service-api/package-lock.json
  packages/appeals-service-api/package.json
  packages/appeals-service-api/src/main.js
Due: none

feat(updated the clamav rest service to include application insights): added applicaiton isights
  packages/clamav-rest-server/package-lock.json
  packages/clamav-rest-server/package.json
  packages/clamav-rest-server/src/main.js
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml

feat(added telemertry to document service): added Applicaiton Insights to the document service
  packages/document-service-api/package-lock.json
  packages/document-service-api/package.json
  packages/document-service-api/src/main.js
Due: none

feat(added telemetry to forms web app): added application insights library to the forms web app
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
Due: none

feat(as-5752): add route and njk template for a final comment submitted page
  packages/forms-web-app/src/controllers/final-comment/final-comment-submitted.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/final-comment/final-comment-submitted.js
  packages/forms-web-app/src/routes/full-appeal/submit-final-comment/index.js
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/final-comment-submitted.njk
Due: none

feat(added telemerty to lpa questionaire): added application insights setup to lap questionaire
  package-lock.json
  package.json
  packages/lpa-questionnaire-web-app/src/app.js
Due: none

feat(as-5785): add upload-documents page and update session final comment object keys
  packages/forms-web-app/__tests__/unit/controllers/final-comment/comments-question.test.js
  packages/forms-web-app/__tests__/unit/controllers/final-comment/documents-check.test.js
  packages/forms-web-app/__tests__/unit/controllers/final-comment/upload-document.test.js
  packages/forms-web-app/src/controllers/final-comment/comments-question.js
  packages/forms-web-app/src/controllers/final-comment/documents-check.js
  packages/forms-web-app/src/controllers/final-comment/final-comment.js
  packages/forms-web-app/src/controllers/final-comment/upload-documents.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/final-comment/upload-documents.js
  packages/forms-web-app/src/routes/full-appeal/submit-final-comment/index.js
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/comments-question.njk
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/documents-check.njk
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/final-comment.njk
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/upload-documents.njk
Due: none

feat(added telemetry to the pdf service): added application insights to the PDF service
  packages/pdf-service-api/package-lock.json
  packages/pdf-service-api/package.json
  packages/pdf-service-api/src/app.js
Due: none

fix(as-5815): updating common to ensure dependancies are up to date
  packages/common/package-lock.json
  packages/common/package.json
Due: pipelines/common/common-ci.yml

page-objects for first half of submitting an appeal
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/e2e.js
  packages/platform-feature-tests/cypress/e2e/submit-appeal/submit-appeal.feature
  packages/platform-feature-tests/cypress/e2e/submit-appeal/submit-appeal.js
  packages/platform-feature-tests/cypress/page-objects/appeals-sections/before-you-start.js
  packages/platform-feature-tests/cypress/page-objects/appeals-sections/date-decision-due.js
  packages/platform-feature-tests/cypress/page-objects/appeals-sections/email-address.js
  packages/platform-feature-tests/cypress/page-objects/appeals-sections/planning-application-number.js
  packages/platform-feature-tests/cypress/page-objects/appeals-sections/type-of-planning.js
  packages/platform-feature-tests/cypress/page-objects/base-page.js
  packages/platform-feature-tests/package.json
Due: none

Path conditions:
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
