Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

fix(docker file fix): nPM ci ingore workspaces for npm 18
  data/Dockerfile
  mocked-services/Dockerfile
  packages/appeals-service-api/Dockerfile
  packages/clamav-rest-server/Dockerfile
  packages/document-service-api/Dockerfile
  packages/forms-web-app/Dockerfile
  packages/pdf-service-api/Dockerfile
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml

fix(dockerfile): docker build npm ci ignore workspaces
  data/Dockerfile
  mocked-services/Dockerfile
  packages/appeals-service-api/Dockerfile
  packages/clamav-rest-server/Dockerfile
  packages/document-service-api/Dockerfile
  packages/pdf-service-api/Dockerfile
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml

Revert "fix(dockerfile): docker build npm ci ignore workspaces"
  data/Dockerfile
  mocked-services/Dockerfile
  packages/appeals-service-api/Dockerfile
  packages/clamav-rest-server/Dockerfile
  packages/document-service-api/Dockerfile
  packages/pdf-service-api/Dockerfile
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml

Revert "fix(docker file fix): nPM ci ingore workspaces for npm 18"
  data/Dockerfile
  mocked-services/Dockerfile
  packages/appeals-service-api/Dockerfile
  packages/clamav-rest-server/Dockerfile
  packages/document-service-api/Dockerfile
  packages/forms-web-app/Dockerfile
  packages/pdf-service-api/Dockerfile
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml

Revert "fix(don't save session on enter code): we don't save session anywhere apart from here"
  packages/forms-web-app/__tests__/unit/controllers/common/enter-code.test.js
  packages/forms-web-app/package-lock.json
Due: none

Revert "Upgrade express session"
  packages/forms-web-app/package.json
Due: none

Revert "feat(node 18 upgrade): upgrade project to use node 18 and npm 8"
  .nvmrc
  Makefile
  README.md
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  azure-pipelines-e2e-tests.yml
  azure-pipelines-release.yml
  data/Dockerfile
  data/package-lock.json
  docker-compose.yml
  mocked-services/Dockerfile
  package-lock.json
  package.json
  packages/appeals-service-api/Dockerfile
  packages/appeals-service-api/package-lock.json
  packages/appeals-service-api/package.json
  packages/business-rules/package-lock.json
  packages/business-rules/package.json
  packages/clamav-rest-server/Dockerfile
  packages/clamav-rest-server/package-lock.json
  packages/clamav-rest-server/package.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/document-service-api/Dockerfile
  packages/document-service-api/package-lock.json
  packages/document-service-api/package.json
  packages/document-service-api/test/developer/testcontainer-helpers/azurite-container-helper.js
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/horizon-functions/package-lock.json
  packages/horizon-functions/package.json
  packages/pdf-service-api/Dockerfile
  packages/pdf-service-api/package-lock.json
  packages/pdf-service-api/package.json
  test-packages/platform-feature-tests/package-lock.json
  unused-packages/e2e-tests/package-lock.json
  unused-packages/lpa-questionnaire-web-app/Dockerfile
  unused-packages/lpa-questionnaire-web-app/package-lock.json
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

feat(aapd-7): add email address page for lpa add user journey
  packages/forms-web-app/__tests__/unit/controllers/lpa-dashboard/email-address.test.js
  packages/forms-web-app/__tests__/unit/routes/lpa/email-address.test.js
  packages/forms-web-app/__tests__/unit/views/lpa/email-address.test.js
  packages/forms-web-app/src/controllers/lpa-dashboard/email-address.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/lpa-dashboard/email-address.js
  packages/forms-web-app/src/routes/lpa-dashboard/index.js
  packages/forms-web-app/src/views/manage-appeals/email-address.njk
Due: none

fix(lpa-login): add missing await when creating an lpa user
  packages/forms-web-app/__tests__/unit/controllers/common/enter-code.test.js
  packages/forms-web-app/src/controllers/common/enter-code.js
  packages/forms-web-app/src/services/lpa-user.service.js
Due: none

refactor(lpa-login): update lpa jsdoc comments to follow standards
  packages/forms-web-app/src/controllers/common/enter-code.js
  packages/forms-web-app/src/services/lpa-user.service.js
Due: none

feat(aapd-8): display domain of lpa based on logged in user
  packages/forms-web-app/__tests__/unit/controllers/lpa-dashboard/email-address.test.js
  packages/forms-web-app/src/controllers/lpa-dashboard/email-address.js
Due: none

feat(aapd-11): build page for confirming add new user
  packages/forms-web-app/__tests__/unit/controllers/lpa-dashboard/confirm-add-user.test.js
  packages/forms-web-app/__tests__/unit/controllers/lpa-dashboard/email-address.test.js
  packages/forms-web-app/__tests__/unit/routes/lpa/confirm-add-user.test.js
  packages/forms-web-app/__tests__/unit/views/lpa/confirm-add-user.njk.test.js
  packages/forms-web-app/src/controllers/lpa-dashboard/confirm-add-user.js
  packages/forms-web-app/src/controllers/lpa-dashboard/email-address.js
  packages/forms-web-app/src/routes/lpa-dashboard/confirm-add-user.js
  packages/forms-web-app/src/routes/lpa-dashboard/index.js
  packages/forms-web-app/src/views/manage-appeals/add-remove-users.njk
  packages/forms-web-app/src/views/manage-appeals/confirm-add-user.njk
Due: none

feat(upgrade to node 18 and npm 9): upgrade to node 18 and npm 9
  .nvmrc
  Makefile
  README.md
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  azure-pipelines-e2e-tests.yml
  azure-pipelines-release.yml
  data/Dockerfile
  data/package-lock.json
  docker-compose.yml
  mocked-services/Dockerfile
  package-lock.json
  package.json
  packages/appeals-service-api/Dockerfile
  packages/appeals-service-api/package-lock.json
  packages/appeals-service-api/package.json
  packages/business-rules/package-lock.json
  packages/business-rules/package.json
  packages/clamav-rest-server/Dockerfile
  packages/clamav-rest-server/package-lock.json
  packages/clamav-rest-server/package.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/document-service-api/Dockerfile
  packages/document-service-api/package-lock.json
  packages/document-service-api/package.json
  packages/document-service-api/test/developer/testcontainer-helpers/azurite-container-helper.js
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/__tests__/unit/controllers/common/enter-code.test.js
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/horizon-functions/package-lock.json
  packages/horizon-functions/package.json
  packages/pdf-service-api/Dockerfile
  packages/pdf-service-api/package-lock.json
  packages/pdf-service-api/package.json
  test-packages/platform-feature-tests/package-lock.json
  unused-packages/e2e-tests/package-lock.json
  unused-packages/lpa-questionnaire-web-app/Dockerfile
  unused-packages/lpa-questionnaire-web-app/package-lock.json
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

feat(document server dockerfile): document server dockerfile build deps
  packages/appeals-service-api/Dockerfile
  packages/document-service-api/Dockerfile
Due: none

feat(clam av dockerfile): clam av dockerfile build deps
  packages/clamav-rest-server/Dockerfile
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml

feat(aapd: 18): your email address screen addition
  packages/forms-web-app/src/controllers/common/your-email-address.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/lpa-dashboard/index.js
  packages/forms-web-app/src/routes/lpa-dashboard/your-email-address.js
  packages/forms-web-app/src/views/manage-appeals/your-email-address.njk
Due: none

test(tests): tests
  packages/forms-web-app/__tests__/unit/controllers/common/your-email-address.test.js
  packages/forms-web-app/__tests__/unit/routes/lpa/your-email-address.test.js
  packages/forms-web-app/__tests__/unit/views/lpa/your-email.test.js
  packages/forms-web-app/src/controllers/common/your-email-address.js
  packages/forms-web-app/src/routes/lpa-dashboard/your-email-address.js
  packages/forms-web-app/src/views/manage-appeals/your-email-address.njk
Due: none

feat(aapd-9): add empty email validation to add lpa user
  packages/forms-web-app/__tests__/unit/controllers/lpa-dashboard/email-address.test.js
  packages/forms-web-app/__tests__/unit/routes/lpa/email-address.test.js
  packages/forms-web-app/__tests__/unit/validators/common/lpa-user-email.test.js
  packages/forms-web-app/src/controllers/lpa-dashboard/email-address.js
  packages/forms-web-app/src/routes/lpa-dashboard/email-address.js
  packages/forms-web-app/src/validators/common/lpa-user-email.js
Due: none

feat(your-email-address controller): valid email address
  packages/forms-web-app/__tests__/unit/controllers/common/your-email-address.test.js
  packages/forms-web-app/src/controllers/common/your-email-address.js
Due: none

test(__tests__/unit/controllers/common/your-email-address.test.js): change email domain
  packages/forms-web-app/__tests__/unit/controllers/common/your-email-address.test.js
Due: none

feat(your-email-address missing email handling): handle missing email address
  packages/forms-web-app/__tests__/unit/controllers/common/your-email-address.test.js
  packages/forms-web-app/src/controllers/common/your-email-address.js
Due: none

Path conditions:
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
