Repository Planning-Inspectorate/appeal-planning-decision: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

pipelines/clamav-rest-server/clamav-rest-server-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/clamav-rest-server/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
  ...

pipelines/common/common-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      projectName: $(projectName)
      validateName: Build and Push
  ...

feat(aapd-654): return clamav client from function call
  packages/forms-web-app/src/lib/clam-av-client-get.js
  packages/forms-web-app/src/lib/clam-av-client.js
  packages/forms-web-app/src/validators/common/schemas/file-upload.js
  packages/forms-web-app/src/validators/common/schemas/multifile-upload-schema.js
Due: none

feat(aapd-654): update content to show correct filesizes
  packages/forms-web-app/src/views/appellant-submission/supporting-documents.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/appeal-statement.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/application-form.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/certificates.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/decision-letter.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/design-access-statement.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/draft-statement-common-ground.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/letter-confirming-application.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/original-decision-notice.njk
  packages/forms-web-app/src/views/full-appeal/submit-final-comment/upload-documents.njk
  packages/forms-web-app/src/views/layouts/multi-file-upload.njk
  test-packages/platform-feature-tests/cypress/e2e/submit-full-appeal.cy.js
Due: none

feat(aapd-654): remove old code
  packages/clamav-rest-server/src/lib/clamd.js
  packages/common/src/client/clamav-rest-client.js
Due: pipelines/clamav-rest-server/clamav-rest-server-ci.yml, pipelines/common/common-ci.yml

fix(aapd-1202): error messages and label fixes
  packages/forms-web-app/__tests__/unit/controllers/common/enter-code.test.js
  packages/forms-web-app/src/controllers/common/enter-code.js
  packages/forms-web-app/src/views/appeal-householder-decision/email-address.njk
  packages/forms-web-app/src/views/appeal-householder-decision/enter-code.njk
  packages/forms-web-app/src/views/full-appeal/submit-appeal/email-address.njk
  packages/forms-web-app/src/views/includes/enter-security-code.njk
  packages/forms-web-app/src/views/manage-appeals/enter-code.njk
  packages/forms-web-app/src/views/manage-appeals/your-email-address.njk
  packages/web-comment/src/views/includes/enter-security-code.njk
Due: none

chore: foundry4 -> Planning-Inspectorate
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package.json
  packages/appeals-service-api/package.json
  packages/document-service-api/package.json
Due: none

docs: submissions and service users
  README.md
  docs/data-models.md
  packages/appeals-service-api/src/db/schema.prisma
Due: none

fix(aapd-863): use new param name in validation middleware
  packages/forms-web-app/src/controllers/common/enter-code.js
  packages/forms-web-app/src/routes/appeal-householder-decision/login/enter-code.js
  packages/forms-web-app/src/routes/full-appeal/login/enter-code.js
  packages/forms-web-app/src/validators/common/check-id-is-uuid.js
Due: none

fix(aapd-922): split decision colors
  packages/appeals-service-api/src/db/seed/data-dev.js
  packages/appeals-service-api/src/db/seed/lpa-appeal-case-data-dev.js
  packages/web-comment/src/routes/decided-appeals/controller.js
Due: none

fix(aapd-922): use outcome not decision
  packages/web-comment/src/routes/decided-appeals/index.njk
Due: none

fix(aapd-939): use shared function for decision colour
  packages/business-rules/src/utils/decision-outcome.js
  packages/forms-web-app/src/lib/dashboard-functions.js
  packages/forms-web-app/src/views/appeals/your-appeals/decided-appeals.njk
  packages/forms-web-app/src/views/manage-appeals/decided-appeals.njk
  packages/web-comment/src/routes/decided-appeals/controller.js
  packages/web-comment/src/routes/decided-appeals/index.njk
Due: none

refactor(aapd-1053): refactor lpa dashboard functions to use common api-client
  packages/common/src/client/appeals-api-client.js
  packages/forms-web-app/__tests__/unit/controllers/lpa-dashboard/your-appeals.test.js
  packages/forms-web-app/src/controllers/lpa-dashboard/decided-appeals.js
  packages/forms-web-app/src/controllers/lpa-dashboard/your-appeals.js
  packages/forms-web-app/src/lib/appeals-api-wrapper.js
Due: pipelines/common/common-ci.yml

refactor(aapd-1053): move format-address fn to common for web-comment and forms-web-app
  packages/common/src/lib/format-address.js
  packages/forms-web-app/src/lib/dashboard-functions.js
  packages/web-comment/src/routes/appeals/controller.js
  packages/web-comment/src/routes/decided-appeals/controller.js
  packages/web-comment/src/utils/format-address.js
Due: pipelines/common/common-ci.yml

fix(aapd-939): create tag class correctly
  packages/forms-web-app/src/views/appeals/your-appeals/decided-appeals.njk
  packages/forms-web-app/src/views/manage-appeals/decided-appeals.njk
Due: none

fix(aapd-922): fix tag class for web-comment
  packages/web-comment/src/routes/decided-appeals/index.njk
Due: none

fix(aapd-922): web-comment its appeal not item in the loop
  packages/web-comment/src/routes/decided-appeals/index.njk
Due: none

fix(aapd-991): update appeal number field
  packages/forms-web-app/src/views/appeals/your-appeals/decided-appeals.njk
Due: none

feat(aapd-9): add email validation to /users v1 endpoint
  package-lock.json
  packages/appeals-service-api/__tests__/developer/users.test.js
  packages/appeals-service-api/__tests__/unit/validators/is-email.test.js
  packages/appeals-service-api/package.json
  packages/appeals-service-api/src/controllers/user.js
  packages/appeals-service-api/src/routes/users.js
  packages/appeals-service-api/src/validators/is-email.js
Due: none

feat(aapd-9): handle user-not-found on your-email-address page
  packages/forms-web-app/src/controllers/common/your-email-address.js
Due: none

feat(AAPD-707): use conjoined promises in appeal multipart upload
  packages/common/src/utils.js
  packages/forms-web-app/src/controllers/common/appeal-multi-file-upload.js
Due: pipelines/common/common-ci.yml

feat(AAPD-706): proove parallelism
  packages/common/src/utils.js
  packages/common/src/utils.test.js
Due: pipelines/common/common-ci.yml

feat(AAPD-706): concat doesn't mutate
  packages/forms-web-app/src/controllers/common/appeal-multi-file-upload.js
  packages/forms-web-app/src/lib/multi-file-upload-helpers.js
Due: none

feat(AAPD-706): fix tests, move mocking up to api
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.test.js
  packages/forms-web-app/src/dynamic-forms/question.js
  packages/forms-web-app/src/lib/multi-file-upload-helpers.js
Due: none

feat(AADP-706): clean up after myself
  package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
Due: none

feat(AAPD-706): rework conjoined promise interface
  packages/appeals-service-api/src/services/responses.service.js
  packages/common/src/utils.js
  packages/common/src/utils.test.js
  packages/forms-web-app/src/controllers/common/appeal-multi-file-upload.js
  packages/forms-web-app/src/dynamic-forms/dynamic-components/multi-file-upload/question.js
Due: pipelines/common/common-ci.yml

Path conditions:
  pipelines/clamav-rest-server/clamav-rest-server-ci.yml: any of: packages/clamav-rest-server
  pipelines/common/common-ci.yml: any of: packages/common
